@media (min-width: 1200px) {
	section {
		padding: 7vw 0 0vw 0;
	}
	.hide-on-mobile {
		display: block;
	}
	.hide-on-desktop {
		display: none;
	}
	.less-width {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
  	.med-width {
	  width: 75%;
	  margin-left: auto;
	  margin-right: auto;
	}
	.lesser-width {
		width: 65%;
		margin-left: auto;
		margin-right: auto;
	}
	#wpcf7-f5-o1 > form > div.wpcf7-response-output {
		width: 76%;
	}
	#scroll-to-top {
	  bottom: 30px; /* Place the button at the bottom of the page */
	  right: 30px; /* Place the button 30px from the right */
	  img {
	  	width: 50px;

	  }
	}
	body.webP #hero {
	background-image: url('../images/hero-speed-bg-desktop.webp');
	}
	body.webP #hero .row .text .gradient-text-bg {
	background-image: url('../images/longer-orange-gradient-effect-hero-desktop.webp');
	}
	.navbar {
		.menu-main-menu-container {
			padding-right: 35px;
		}
		.navbar-brand {
			width: 20%;
			.logo {
				width: 70%;
				height: 60px;
			}
		}
		#navbarResponsive {
			.menu-item {
				padding: 10px 5px;
				&.current-menu-item {
					a {
						opacity: 0.8;
						border-bottom: 4px solid orange;
					  	border-image-slice: 1;
						border-width: 4px;
						border-image-source:linear-gradient(90deg, rgba(247,144,36,1) 0%, rgba(239,36,83,1) 100%);
						padding-bottom: 5px;
					}
				}
				&.menu-item-type-custom {
					a {
						border: none;
					}
				}
				a {
					display: inline;
					&:hover {
						opacity: 0.8;
						border-bottom: 4px solid orange;
					  	border-image-slice: 1;
						border-width: 4px;
						border-image-source:linear-gradient(90deg, rgba(247,144,36,1) 0%, rgba(239,36,83,1) 100%);
						padding-bottom: 5px;
					}
				}
			}
			.cart-item-count {
			    right: -18px;
			    top: 4px;
			    left: unset;
    			bottom: unset;
			}
		}
	&.without-nav {
		.navbar-brand {
			.logo {
				width: 75%;
				max-width: 300px;
				height: 110px;
			}
		}
	}
		.navbar-pattern-right {
			visibility: hidden;
			display: unset;
			width: 3%;
		    right: 0;
		    position: fixed;
		    height: 100%;
		}
	 	#menu-item-112 > a {
 		margin-right: 35px;
	 	}
	 	.cart-icon {
	 		width: 25px;
		    position: absolute;
		    right: 13px;
		    top: 11px;
		    left: unset;
		    bottom: unset;
	 	}
		.navbar-nav {
			flex-wrap: wrap;
		}
	}
	#hero {
		padding-bottom: 10%;
		background-image: url('../images/hero-speed-bg-desktop.jpeg');
		.row {
			.text {
				text-align: left;
				h1 {
				 	font-size: 7.5rem;
				 	span {
				 		font-size: 4rem
				 	}
				}
				h2 {
					padding: 10px 0;
					margin: 25px 0px 15px 0;
					.gradient-text-bg {
						left: -79%;
    					width: 180%;
	    				height: 100%;
	    				top: 2%;
	    				background-image: url('../images/longer-orange-gradient-effect-hero-desktop.png');
					}
				}
				p {
					font-size: 1.3rem;
					line-height: 1.4;
				}
			}
			.image {
				text-align: center;
				.book {
					width: 90%;
					margin-top: 0;
					margin-bottom: -7%;
				}
				.founder {
					.align-center {
						text-align: right;
					}
				}
			}
		}
		.testimonial-box {
			max-width: 900px;
			padding-top: 2%;
			margin: auto;
			.testimonial-person {
				padding-top: 20px;
				.image {
					text-align: left;
				}
				.text {
					padding-top: 10px;
				}
			}
		}
		.hero-pattern-right {
			height: 85%;
			opacity: 0.3;
		}
	}
	body.webP #hero.front-page {
	background-image: url('../images/hero-happy-bg-desktop.webp');
	}
	#hero.front-page {
		background-image: url('../images/hero-happy-bg-desktop.jpeg');
		background-position: -335px 75%;
    	background-size: 100%;

		.hero-gradient {
			background: linear-gradient(90deg,rgba(77,39,128,.5) 45%, rgba(77,39,128,1) 68%);
		}
		.row {
			.text {
				h1 {
					font-size: 5.5rem;
					line-height: 1;
					font-weight: 900;
				 	span {
				 		font-size: 5.5rem
				 	}
				}
				.idea {
					font-size: 2.2rem;
				    margin: 0;
				    line-height: .2;
				}
			}
			.image {
				padding-top: 45px;
			}
			.call-to-action {
				a {
					display: inline-block;
				}
			}
		}
	}
	body.webP #hero.landing-page_webmap {
		background-image: url('../images/web-projectmap-bg-desktop.webp');
	}
	#hero.landing-page_webmap {
		background-image: url('../images/web-projectmap-bg-desktop.jpeg');
		background-image: none;
		background-position: 50% 8%;
		padding-bottom: 12vw;
		.image {
			.web-projectmap {
			    border-radius: 3px;
			    width: 100%;
			    max-width: 500px;
			    transform: rotate(0deg);
			    margin-top: 60px;
			    margin-left: 60px;
				//filter: drop-shadow(10px 10px 10px #222);
				transform: scale(1.1);
			}
		}
	  .row .text h1 {
		font-size: 5.4rem;
		line-height: .7;

		span {
		  font-size: 3.7rem;
		}
	  }
	}
	.section-separator.landing-page_webmap {
		.skew-separator {
		h2 {
				font-size: 1.8rem;
			    position: absolute;
			    right: 50px;
			    bottom: -10px;
			    strong {
				    color: #f79024;
				    font-weight: 800;
				    text-transform: uppercase;
				    span {
				    	color: #ef2453;
				    }
			    }
			}
		}
	}
	#contact.newsletter.landing-page_webmap {
	    padding: 7vw 0vw;
	}
	#successfull {
		.bigger-paragraph {
			margin-bottom: 100px;
		}
		.guarantee {
			margin-top: 0;
			padding-right: 15px;
			padding-left: 15px;
		  	align-items: center;
			div.col-lg-12.col-12 {
				margin-top: -50%;
			}
			.align-center {
				.checkmark-star-circle {
					width: 100%;
					max-width:unset;
				}
			}
		}
	}

	#successfull.front-page {
		margin-bottom: -40px;
	.secret-of-success-icon {
		width: 60%;
    	max-width: 150px;
    	margin-top: 15px;
	}
	.bullseye-arrow {
	    right: -13%;
	    width: 20%;
		}
	}

	#enthusiastic.front-page {
		padding: 14vw 0 3vw;
		.quote-mark {
		    width: 12%;
		    left: -4%;
		    top: -15%;
		}
		.recommendation {
			margin: 0px auto 70px;
		}
	}
	#progress {
		padding: 15vw 0 13vw;
		.pattern-top_white {
			width: 27%;
		}
	}

	#experience {
	    padding: 7vw 0;
	    .certifications {
	    	.certificate {
	    		width: 100%;
	    	}
	    }
	}

	#work-together {
		padding: 15vw 0 13vw;
		.pattern-top_white {
				width: 27%;
			}
		.row {
			.guarantee {
				.text {
					text-align: left;
				}
				.call-to-action {
					a {
						display: inline-block;
					}
				}
				.align-center {
					.checkmark-star-circle {
						width: 100%;
						max-width: unset;
					}
				}
			}
		}
		.book {
			width: 100%;
		}
	}

	#dxengine {
		padding: 7vw 0 7vw;
		.row {
			.dxengine-logo {
				width: 45%;
			}
		}
	}

	#reference {
	    padding: 7vw 0 0;
    	.ref-box {
			background-color: #fff;
			.unique-skewbox_orange {
				background: linear-gradient(90deg,#f79024,#ef2453);
			    height: 11vw;
			    position: absolute;
			    width: 100%;
			    left: 0;
			    bottom: 0;
			    margin-bottom: -4%;
			    transform: skew(0, -4deg);
		    	z-index: -1;
		    	.gradient-effect-left {
		    		transform: skew(0, 4deg);
				    bottom: 74%;
				    position: absolute;
				    width: 25%;
		    	}
			}
			.unique-skewbox_qth {
				background: #445963;
			    height: 11vw;
			    position: absolute;
			    width: 100%;
			    left: 0;
			    bottom: 0;
			    margin-bottom: -4%;
			    transform: skew(0, 4deg);
		    	z-index: -1;
		    	.gradient-effect-right {
		    		transform: skew(0, -4deg);
				    bottom: 74%;
				    right: 0;
				    position: absolute;
				    width: 25%;
		    	}
			}
			.unique-skewbox_purple {
				background: linear-gradient(90deg, rgba(79,39,122,1) 0%, rgba(39,39,39,1) 100%);
			    height: 11vw;
			    position: absolute;
			    width: 100%;
			    left: 0;
			    bottom: 0;
			    margin-bottom: -4%;
			    transform: skew(0, -4deg);
		    	z-index: -1;
		    	.gradient-effect-left {
		    		transform: skew(0, 4deg);
				    bottom: 74%;
				    position: absolute;
				    width: 25%;
		    	}
			}
			.pattern-right {
				position: absolute;
			    right: 0;
			    bottom: 0;
			    width: 8%;
			    z-index: -1;
			}
			.pattern-left {
				position: absolute;
			    left: 0;
			    bottom: 0;
			    width: 8%;
			    z-index: -1;
			}
			.unique {
				padding: 120px 0 0;
			.logo-and-text {
				text-align: left;
				.ref-logo {
					width: 20%;
		    		margin-bottom: 30px;
		    		&.palma-logo {
		    			width: 20%;
		    		}
		    		&.it-logo {
		    			width: 35%;
		    		}
		    		&.qth-logo {
		    			width: 30%;
		    		}
				}
					p {
						font-weight: 400;
						width: 90%;
						margin-left: 0;
						line-height: 1.2;
					}
					.call-to-action {
						margin-top: 30px;
					}
				}

				.image {
					text-align: right;
					.ref-image {
						margin-left: 80px;
						margin-top: 0;
						width: 75%;
						&.qth-img {
							margin-left: 0;
						}
					}
				}
				&.unique_qth {
					flex-direction: inherit;
				}
			}
			.unique {
				&.unique_makad {
					flex-direction: inherit;
					padding-top: 120px;
					padding-bottom: 2rem;
					.image {
						text-align: left;
						.ref-image {
							position: relative;
							left: -1rem;
							bottom: 3rem;
							margin-left: 0;
							padding-bottom: 0;
						}
					}
					.logo-and-text {
						.makad-hills-logo {
							width: 50%;
							max-width: 320px;
						}
					}
				}
				&.unique_fixbeton {
					flex-direction: inherit;
					padding-bottom: 2rem;
					.image {
						text-align: left;
						.ref-image {
							margin-left: 0;
							padding-bottom: 0;
							margin-top: 0;
						}
					}
					.logo-and-text {
						.fixbeton-logo {
							width: 50%;
							max-width: 320px;
						}
					}
				}
			}
			.unique-skewbox_makad {
				background: linear-gradient(90deg, rgba(44, 127, 165, 1) 0%, rgba(42, 44, 57, 1) 100%);
				height: 11vw;
			    position: absolute;
			    width: 100%;
			    left: 0;
			    bottom: 0;
			    margin-bottom: -4%;
			    transform: skew(0, 4deg);
		    	z-index: -1;
		    	.gradient-effect-right {
		    		transform: skew(0, -4deg);
				    bottom: 74%;
				    right: 0;
				    position: absolute;
				    width: 25%;
		    	}
			}
			.unique-skewbox_fixbeton {
				background: linear-gradient(90deg, rgba(120, 177, 1, 1) 0%, rgba(51, 51, 51, 1) 100%);
			    height: 11vw;
			    position: absolute;
			    width: 100%;
			    left: 0;
			    bottom: 0;
			    margin-bottom: -4%;
			    transform: skew(0, 4deg);
		    	z-index: -1;
		    	.gradient-effect-right {
		    		transform: skew(0, -4deg);
				    bottom: 74%;
				    right: 0;
				    position: absolute;
				    width: 25%;
		    	}
			}
			.unique_qth {
				.image {
					text-align: left;
				}
			}

		}
	}

	.straight-white {
		height: 8vw;
	    background-color: #fff;
	    margin-top: -7%;
	    position: relative;
	    z-index: 10;
	}

	#speed {
		padding: 15vw 0 11.5vw;
	}

	#methodology {
		padding: 14vw 0 13vw;
	  z-index: 10;
		iframe {
			height: 290px;
		}
	}

	#contact.front-page {
		padding: 11vw 0 10vw;
		.contact-form {
			width: 80%;
		}
	}

	#pre-market {
		padding: 5vw 0 10vw;
	}

	#point-of-view {
		padding: 6vw 0 12vw;
	}
	#point-of-view.front-page {
	  background: #fff;
	  padding: 7vw 0 7vw;
	}
	#book-in-numbers {
	 padding: 12vw 0 7vw;
	 .row {
	 	.results {
	 		.text {
	 			width: 88%;
	 		}
	 	}
	 }
	}
	#enthusiastic {
		padding: 13vw 0 1vw;
		.row .testimonial-box {
			padding: 0 30px;
		}
		.recommendation {
			margin: 50px auto 120px;
		}
	}
	body.webP #less-and-more .gradient-orange {
		//background-image: url('../images/less-and-more-bg-desktop.webp');
	}
	#less-and-more {
		padding: 11vw 0 10vw 0;
		.gradient-orange {
			background-position: 50% 25%;
			//background-image: url('../images/less-and-more-bg-desktop.png');
		}
	}
	body.webP #who-is-gabor .gradient-purple {
		//background-image: url('../images/who-is-gabor-bg-desktop.webp');
	}
	#why-us {
		padding: 15vw 0 12vw;
	}
	#who-is-gabor {
		padding: 15vw 0 12vw;
		.gradient-purple {
			//background-image: url('../images/who-is-gabor-bg-desktop.png');
		}
		.pattern-top_white {
			width: 27%;
			top: 6%;
		}
	}
	#mission {
		padding: 6vw 0 3vw;
		position: relative;
    	z-index: 3;
	}
	#secret-of-success {
		padding: 7vw 0 7vw;
		.info-box {
			width: 80%;
			margin: auto;
		}
		.secret-of-success-icon {
			margin: 5px 0;
    		width: 70%;
    		&.tasks {
    			width: 55%;
    		}
		}
		.row {
			.row {
				padding: 0 15px;
			  	margin-bottom: 20px;
				div {
					padding: 0 15px;
				}
			}
		}
	}
	body.webP #time-spent-on-writing .gradient-orange {
		//background-image: url('../images/time-spent-on-writing-bg-desktop.webp');
	}
	#time-spent-on-writing {
		padding: 13vw 0 14vw;
		.gradient-orange {
			//background-image: url('../images/time-spent-on-writing-bg-desktop.png');
		}
	}
	body.webP #key-of-success .gradient-purple {
		//background-image: url('../images/key-of-success-bg-desktop.webp');
	}
	#richfull-informations {
		padding: 5vw 0 5vw;
	    z-index: 1;
	    position: relative;
	    	 .row {
	 	.results {
	 		.text {
	 			width: 88%;
	 		}
	 	}
	 }
	}
	#key-of-success {
		padding: 5vw 0 14vw;
		.gradient-purple {
			//background-image: url('../images/key-of-success-bg-desktop.png');
		}
	}
	#process {
		padding: 7vw 0 5vw;
	}
	#many-question {
		padding: 7vw 0 1vw;
		.row {
			margin-bottom: 80px;
			.set-of-answers {
				.answers {
					.question {
						font-size: 1.5rem;
						width: 100%;
					    margin-top: 5px;
					    height: auto;
					}
				}

				.question-img {
					padding: 4px 10px 0 0;
					position: relative;
					.plus-mark {
						width: 100%;
	    				margin-top: 0;
	    				max-width: 50px;
	    				padding-right: 2px;
	    				margin-top: 5px;
					}
				}
			}
		}

		.call-to-action {
			margin-bottom: 150px;
		}
	}
	#many-question.front-page {
		padding: 3vw 0 5vw;
	}
	body.webP #choose-your-path .gradient-purple {
		//background-image: url('../images/choose-your-path-bg-desktop.webp');
	}
	#choose-your-path {
		.gradient-purple {
		    //background-image: url('../images/choose-your-path-bg-desktop.png');
		}
		padding: 14vw 0 19vw;
		.offer-box {
			margin: 40px 0 80px;
		  	height: 100%;
		    &:nth-child(1) {
			  //margin-top: 80px;
		    }

			&:nth-child(2) {
				margin-top: 55px;
			}

			&:nth-child(3) {
			  margin-top: 120px;
			}
		}
		.row {
			justify-content: center;
		}
		.pattern-top_red {
			position: absolute;
		    right: 0;
		    width: 30%;
	    	z-index: 1;
	    	top: 10px;
	    	opacity: 0.4;
		}
		.simplepay-box {
			text-align: center;
			margin-top: -60px;
		    .simplepay-logo {
		    	width: 15%;
		    }
		}
	}
	#testimonials {
		padding: 8vw 0 8vw;
	}
	#testimonials.front-page {
		padding: 6.5vw 0 2vw;
	}
	body.webP #contact.front-page .gradient-purple {
	//background-image: url('../images/time-spent-on-writing-bg-desktop.webp');
	}
	#contact.front-page .gradient-purple {
	//background-image: url('../images/time-spent-on-writing-bg-desktop.png');
	}
	body.webP #contact .gradient-purple {
	//background-image: url('../images/time-spent-on-writing-bg-desktop.webp');
	}
	#contact .gradient-purple {
	//background-image: url('../images/time-spent-on-writing-bg-desktop.png');
	}
	body.webP footer .gradient-purple {
		//background-image: url('../images/footer-bg-desktop.webp');
	}
	footer {
		.gradient-purple {
			//background-image: url('../images/footer-bg-desktop.png');
		}
		padding: 6vw 0 0vw;
	    &.landing {
    		padding-top: 0;
    	}
		h3:nth-child(6) {
			margin-top: 40px;
		}
		.footer-logo {
			text-align: left;
		}
		#copyright {
			text-align: center;
			.container {
			padding: 0;
			p {
			margin-bottom: 2px;
			margin: 0 15px 0 0;
			display: inline-block;
				}
				.simplepay-logo {
					max-width: 100px;
	    			display: inline-block;
	    			margin: 0;
				}
			}
		}
		&.credo {
			.badge {
			    max-width: 120px;
    			margin: 10px 0;
			}
		}
	}
	.page-banner {
	height: 250px;
	background: linear-gradient(90deg, rgba(79,39,122,1) 0%, rgba(39,39,39,1) 100%);
		.section-title {
			font-size: 3.4rem;
		}
		.hero-pattern-right {
		    position: absolute;
		    width: 5%;
		    right: 0;
		    top: 0;
		    height: 310px;
		    object-fit: cover;
		  	z-index: 3;
		}
		&.simple-page {
			height: 450px;
			position: relative;
			.section-title {
				padding-top: 160px;
				top: unset;
				font-size: 3.4rem;
			}
			.content {
				.row {
					margin-top: 150px;
				}
			}
		}
	}
  .page-template-weboldal-projektterkep .page-banner.simple-page {
	height: 190px;

	h1, hr {
	  display: none;
	}
  }
	#page-cart {
		.page-banner {
			height: 450px;
			.section-title {
				padding-top: 160px;
				margin-bottom: 50px;
				font-size: 3.4rem;
			}
			.hero-pattern-right {
		    position: absolute;
		    width: 6%;
		    right: 0;
		    top: 0;
		    height: 300px;
		    object-fit: cover;
			}
			.cart-icon-big {
				position: absolute;
			    top: 22%;
			    left: 3%;
			    width: 15%;
			    max-width: 200px;
			}
		}
		main {
			padding: 0px 0 100px;
			.actions {
				button[type="submit"] {
					padding: 17px 30px;
					font-size: 1.1rem;
				}
			}
			> div > div.cart-collaterals {
				margin-top: 60px;
				.cart_totals {
				width: 80%;
					.wc-proceed-to-checkout {
						a {
							width: 40%;
							margin-top: 40px;
						}
					}
				}
			}
		}
	}
	#page-checkout {
		.page-banner {
			height: 450px;
			.section-title {
				padding-top: 160px;
				margin-bottom: 50px;
				font-size: 3.4rem;
			}
			.hero-pattern-right {
		    position: absolute;
		    width: 6%;
		    right: 0;
		    top: 0;
		    height: 300px;
		    object-fit: cover;
			}
			.checkout-icon-big {
				position: absolute;
			    top: 22%;
			    left: 3%;
			    width: 15%;
			    max-width: 200px;
			}
		}
		section {
			padding: 30px 0;
		}
		#payment {
			#salesautopilot_subscription_section {
				p {
					label.checkbox {
					    .input-checkbox {
						    top: 4px;
					    }
					}
				}
			}
		}
	}
	.content .woocommerce {
		padding: 0;
	}
	.woocommerce-checkout .woocommerce {
		padding: 0;
		.checkout {
			#customer_details {
				margin: 0;
				.col-12 {
					padding: 0 15px;
				}
			}
			#order_review {
				.woocommerce-checkout-review-order-table {
					thead {
						tr {
							th {
								width: 180px;
								padding: 30px;
								font-size: inherit;
							}
						}
					}
					tbody {
						th,
						td {
							padding: 30px;
							font-size: inherit;

						}
					}
					tfoot {
						.cart-subtotal,
						.shipping {
							th {
								padding: 15px 30px;
								font-size: inherit;
							}
							td {
								padding: 15px 30px;
								font-size: inherit;
							}
						}
						.order-total {
							th, td {
								padding: 15px 30px;
								font-size: inherit;
							}
							th {
								font-size: 1.3rem;
							}
						}
					}
				}
			}
			#payment {
				padding: 15px;
				.wc_payment_method.payment_method_simplepay-gateway a img{
					width: 25%;
    				float: right;
				}
				.wc_payment_method {
					label {
						font-size: 20px;
					}
				}
			}
		}
	}
	.woocommerce .woocommerce-message {
		.wc-forward {
			margin-left: 10px;
			width: auto;
			text-align: left;
			display: inline-block;
			margin-top: 0;
   			margin-bottom: 0;
		}
	}
	.woocommerce .woocommerce-message:before {
		bottom: unset;
		top: 1em;
	}
	.woocommerce .woocommerce-form-coupon-toggle .woocommerce-info,
	.woocommerce .woocommerce-form-login-toggle .woocommerce-info {
	    padding: 3px 75px;
		.showcoupon,
		.showlogin {
			margin-left: 10px;
			width: auto;
			text-align: left;
			display: inline-block;
		}
	}
	#page-account {
	background-color: #fff;
	padding-top: 0;
	padding-bottom: 100px;
		.page-banner {
			height: 450px;
			.section-title {
				padding-top: 160px;
				font-size: 3.4rem;

			}
		}
		main {
			padding-top: 0;
			.woocommerce {
				padding: 0;
				.woocommerce-MyAccount-navigation {
					width: 25%;
					ul {
						li {
						    margin: 0 0 20px;
					    	width: 80%;
					    	display: block;
					    	padding: 0;
						}
					}
				}
				.woocommerce-MyAccount-content {
					width: 75%;
					.woocommerce-Button {
						width: auto;
						text-align: left;
						display: inline-block;
					}
					.woocommerce-order-details {
					padding-top: 20px;
					padding-bottom: 40px;
					}
					.woocommerce-customer-details {
						padding-top: 20px;
						.woocommerce-columns {
							margin-right: -15px;
	    					margin-left: -15px;
		    				.woocommerce-column {
	    						padding-right: 15px;
	    						padding-left: 15px;
							.woocommerce-column__title {
								margin-top: 10px;
							}					}
						}
					}
				}
			}
		}
		td.woocommerce-orders-table__cell a {
			margin-bottom: 15px;
			display: block;
		}
	}
	#page-blog {
		.page-banner {
			height: 450px;
			position: relative;
			.section-title {
				padding-top: 160px;
			    position: relative;
			    z-index: 2;
			    margin-bottom: 25px;
			    font-size: 3.4rem;

			}
		}
		.blog-post {
			.card-footer {
				margin-top: 20px;
			}
		}
		.blog-post {
			margin: 45px 0;
			.card-img {
				img {
					height: 250px;
				}
			}
		}
	}
	#single-post {
		.content {
			padding: 150px 0 100px;
			.entry-featured {
				img {
					height: 500px;
				}
				.post-title {
					.entry-title {
						font-size: 2.25rem;
						padding-top: 35px;
						padding-left: 40px;
					}
					hr {
						margin-left: 46px;
					}
				}
				.post-category {
					p {
						padding: 10px 50px 10px 40px;
					}
				}
			}
			.entry-meta {
				padding: 30px;
				margin-right: 20px;
				img {
					margin-top: 0;
				}
				.post-details {
					.author-name {
						margin-right: 10px;
					}
				}
			}
			.entry-content {
				margin-top: -50px;
				margin-left: -40px;
    			padding: 35px;
			}
			.woocommerce {
				.quantity {
					.qty {
					    padding: 14px 0;
					    font-size: 18px;
					    border-radius: 4px;
					    border: 1px solid gray;
					    margin-right: 15px;
					    width: 50px;
					}
				}
			}
		}
	}
	#page-burgi {
		.page-banner {
			height: 900px;
			background-image: url('../images/edesburgonya-bg-desktop.jpeg');
			.logo-burgi {
				padding-top: 180px;
			}
			.screens-burgi {
				position: absolute;
			    bottom: -20%;
			    width: 50%;
			    z-index: 1;
			    left: 22%;
			    max-width: none;
			    margin-top: 0;
			}
			.section-title {
				font-size: 3.4rem;
			}
		}
		#burgi-before {
		    padding: 7vw 0 6vw;
		}
		#burgi-cons {
			padding: 7vw 0 7vw;
		}
		#burgi-after {
		    padding: 7vw 0 7vw;
		}
	}
	#page-profit {
		.page-banner {
			height: 450px;
			.section-title {
				padding-top: 180px;
			    font-size: 3.4rem;
				span {
					z-index: 2;
				}
			}
	    }
	}
	#page-404 {
		background-color: #fff;
		padding-top: 0;
		padding-bottom: 100px;
		position: relative;
			.page-banner {
			height: 250px;
			position: relative;
			 }
		.content {
			padding-top: 55px;
			h1 {
		    	font-size: 9rem;
    			margin: 0;
			}
		}
	}
	.page-id-101 {
		.page-banner {
			height: 450px;
			.section-title {
				padding-top: 160px;
				font-size: 3.4rem;

			}
		}
		.content {
			padding-top: 0;
			.woocommerce-result-count {
				width: 100%;
				text-align: right;
			}
			.woocommerce-ordering {
				float: right;
			}
		}
	}
	.page .content {
		margin: 150px auto;
	}
	.woocommerce {
		ul.products {
			flex-wrap: wrap;
			justify-content: center;
			li.product {
				width: 22.05% !important;
				margin: 30px 15px!important;
				max-width: 300px;
				.woocommerce-loop-product__title {
					height: 55px;
					line-height: 1.4;
					font-size: 1.2rem!important;
				}
			&.post-209 {
				.woocommerce-loop-product__title {
					width: 80%;
				    margin-left: auto;
				    margin-right: auto;
				}
			}
			}
		}
	}
	#web-projektmap {
		//margin-top: 200px;
		.container-wide {
			max-width: 90%;
			.gradient-white {
				width: 6%;
			}
		}
		.web-pmap {
			text-align: center;
			border: 2px solid #2b194c;
			border-bottom: none;
			thead {
				border: 2px solid #2b194c;
				h2 {
					color: #2b194c;
					text-transform: uppercase;
					margin-bottom: 0;
					font-weight: 800;
					font-size: 3rem;
				}
			}
			tbody {
				.time-requirement {
					td {
						border: 2px solid #2b194c;
						color: #3f3f3f;
						font-weight: 800;
						padding: 10px 25px;
						.align-left {
							float: left;
						}
						.align-right {
							float: right;
						}
					}
				}
				.sub-title {
					background: #2b194c;
					h3 {
						border: 2px solid #2b194c;
						color: #ffffff;
						font-weight: 800;
						padding: 10px 100px;
						margin-bottom: 0;
						font-size: 1.2rem;
						text-transform: none;
					}
				}
				.lists {
					td {
						border-right: 2px solid #2b194c;
						padding: 30px 20px;
						vertical-align: top;
						position: relative;
						&.paddingless {
							padding: 20px 0 30px 0;
							h4 {
								padding: 0 20px;
							}
							hr {
								height: 2px;
							    background: #2b194c;
							    width: 100%;
							    border: none;
							}
							ul li {
								margin: 15px 25px;
								font-weight: 500;
							}
						}
					}
					ul {
						margin: 0;
						li {
							list-style-type: none;
							margin: 15px 0;
							margin-left: 0.5rem;
							font-weight: 500;
						}
					}
				}
				.costs {
					td {
						padding: 10px 20px;
						border-top: 2px solid #f78b26;
						border-bottom: 2px solid #f78b26;
						border-right: 2px solid #2b194c;
						color: #3f3f3f;
						font-weight: 800;
						padding: 10px 25px;
						.align-left {
							float: left;
						}
						.align-right {
							float: right;
						}
					}
				}
			}
		}
	}

	//webfejlesztés landing oldal

	.website-design-landing {
		.section-title {
			font-size: 2.7rem!important;
		}
	}

	body.webP #hero.front-page.website-design-landing {
		//background-image: url('../images/web-dev-hero-purple-half-desktop.webp');
	}
	#hero.front-page.website-design-landing {
		//background-image: url('../images/web-dev-hero-purple-half-desktop.jpeg');
		background-image: none!important;
		.yellow-lane {
		    height: 9rem;
		    top: 16.5rem;

			&.thin {
			  height: 6rem;
			  top: 20.5rem;
			}
		}
		.row {
			.text {
				.work-with-us {
					margin-top: 5rem;
				}
			}
			.form {
				.form-box {
					.limit {
						margin-top: 5px;
					}
				}
				.consultation {
					h3 {
						text-align: left;
					}
				}
			}
		}
	}
	#speed {
		padding-bottom: 7vw;
	}
	#enthusiastic.front-page.website-design-landing {
		.quote-mark {
			top: -7%;
			left: -10%;
		}
	}
}

@media (min-width: 1200px) and (max-width: 1440px) {
	#hero.front-page {
		    background-size: cover;
	}
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .page-template-weboldal-arkalkulator,
  .page-template-profit-kalkulator{
	.page-banner {
	  height: 350px!important;
	}

	.page-banner .section-title {
	  padding-top: 110px!important;
	}

	.content{
	  margin: 80px auto;
	}
  }
}

@media (min-width: 1600px) {
	#hero.front-page.website-design-landing {
		background-image: url('../images/web-dev-hero-tablet.jpeg');
		.yellow-lane {
		  height: 9rem;
		  top: 15.7rem;
		}
	}
}
