@media (min-width: 768px) {
	body.webP #hero {
	background-image: url('../images/hero-speed-bg-tablet.webp');
	}
	#hero {
		padding-bottom: 10%;
		background-image: url('../images/hero-speed-bg-tablet.jpeg');
		.row {
			.text {
				h1 {
				 	font-size: 7.5rem;
				 	span {
				 		font-size: 4rem
				 	}
				}
				h2 {
					padding: 10px 0;
					margin: 25px 0px 15px 0;
					.gradient-text-bg {
						left: -75%;
    					width: 180%;
	    				height: 100%;
	    				top: 2%;
	    				background-image: url('../images/longer-orange-gradient-effect-hero-tablet.png');
					}
				}
				p {
					font-size: 1.3rem;
					line-height: 1.4;
				}
			}
			.image {
				text-align: center;
				.book {
					width: 60%;
					margin-top: 0;
					margin-bottom: -3%;
				}
				.founder {
					width: 65%;
					margin: auto;
					.align-center {
						text-align: right;
					}
				}
			}
		}
	}
	body.webP #hero.front-page {
		background-image: url('../images/hero-happy-bg-mobile-tablet.webp');
	}
	#hero.front-page {
		background-position: 50% 75%;
		background-image: url('../images/hero-happy-bg-mobile-tablet.jpeg');
	}
	body.webP #hero.landing-page_webmap {
	background-image: url('../images/web-projectmap-bg-tablet.webp');
	}
	#hero.landing-page_webmap {
		background-image: url('../images/web-projectmap-bg-tablet.jpeg');
		background-position: 50% 0%;
		padding-bottom: 17vw;
		.image {
			.web-projectmap {
			    border-radius: 3px;
			    width: 100%;
			    max-width: 500px;
			    transform: rotate(0deg);
			    margin-top: 40px;
			    margin-left: auto;
			    margin-right: auto;
				//filter: drop-shadow(10px 10px 10px #222);
				transform: scale(1.1);
			}
		}
		.row .text {
			h1 {
				font-size: 4.8rem;
				span {
					font-size: 3.3rem;
				}
			}
		}
	}
	.section-separator.landing-page_webmap {
		.gradient-effect-left {
			top: -40%;
    		width: 40%;
		}
		.skew-separator {
			height: 8vw;
			margin-bottom: -4%;
			h2 {
				font-size: 1.4rem;
			    position: absolute;
			    right: 50px;
			    bottom: -10px;
			    strong {
				    color: #f79024;
				    font-weight: 800;
				    text-transform: uppercase;
				    span {
				    	color: #ef2453;
				    }
			    }
			}
		}
	}
	#contact.newsletter.landing-page_webmap {
	    padding: 15vw 0vw 7vw;
	}
	#successfull {
		.guarantee {
			.align-center {
					.checkmark-star-circle {
						width: 45%;
				}
			}
		}

	}
	#experience {
		.certifications {
			.certificate {
				width: 70%;
			}
		}
	}
	#work-together {
		.guarantee {
			.align-center {
					.checkmark-star-circle {
						width: 45%;
				}
			}
		}
		.book {
			width: 50%;
		}
	}

	#many-question {
		.set-of-answers {
			.answers {
				.question {
					width: 90%;
				}
			}
		}
	}
	#choose-your-path {
		.offer-box {
			margin: 40px 0 80px;
			&:nth-child(2) {
				margin-top: 60px;
				height: 100%;
			}
		}
	}
	#methodology {
		iframe {
			height: 360px;
		}
	}
	#pre-market {
		.partner-logo {
			width: 40%;
		}
	}
	.page-banner {
		height: 250px;
	}
	#page-cart,
	#page-account,
	#page-checkout {
		.page-banner {
			height: 350px;
			.section-title {
				padding-top: 140px;
			}
		}
		main {
			padding-top: 100px;
		}
	}

  #web-projektmap {
	margin-top: 80px;

	.web-pmap {
	  thead {
		background: transparent;

		h2 {
		  display: block;
		}

		p {
		  padding-top: 0;
		  max-width: none;
		  position: static;

		  &:after {
			display: none;
		  }
		}
	  }
	}
  }

  	//webfejlesztés landing oldal
  	#hero.front-page.website-design-landing {
		.yellow-lane {
	    	height: 8rem;
	    	top: 15rem;
	   }
	}
}

@media (min-width: 992px) {

	.navbar {
		&.without-nav {
			.navbar-brand {
				max-width: unset;
				.logo {
					width: 45%
				}
			}
			.container {
				.call-back {
		 			.icon-bg {
		 				right: 0.25rem;
				    	bottom: 0.25rem;
		 			}
		 			.tel-icon {
		 				right: 0.8rem;
		    			top: unset;
		 			}
		 		}
			}
		}
	}

	// PROJEKTTÉRKEP //

	#projektterkep {
		.nav-pills {
			li {
				margin: 0 0.1rem 0.1rem;
				width: auto;
				border-bottom: 0;
				&.active {
					margin: 0 0.1rem 0 0;
					padding: 0.75rem 0;
					a {
						&:hover {
							color: #f68f24;
						}
					}
				}
				&:last-of-type {
					&.active {
						margin: 0 0 0 0.1rem ;
					}
				}
			}
		}
		.tab-content {
			.tab-pane {
				.tab-header {
					.tab-header-content {
						max-width: 75%;
						table {
							width: 55%;
							.cost-intensity {
								.description {
								    width: 450px;
	    						}
							}
						}
						.number {
							font-size: 12rem;
						}
						.tab-name {
							margin-left: 0;
							margin-bottom: 1rem;
						}

					}
					.decoration {
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						height: 100%;
					}
				}
				.tab-main {
					padding: 2rem;
					.tab-main-content {
						max-width: 75%;
						.accordion {
							.decoration {
								max-width: 34px;
							}
						}
						.panel {
	    					margin-left: 3rem;
						}
					}
				}
			}
		}
	}

	// Tartalmaim //

	#my-content {
		#book-bonuses-content {
			padding: 8rem 0;
			.card {
				padding: 1.5rem;
				min-height: 550px;
				.card-decoration {
					min-height: 125px;
					object-fit: cover;
					object-position: 75%;
				}
				.card-title {
					font-size: 1.2rem;
					height: 4rem;
					margin-bottom: 1rem;
					line-height: 1.2;
				}
				img.size-full {
					max-width: 120px;
					height: auto;
					margin-top: 1rem;
				}
				.subtitle {
					font-size: 1rem;
					line-height: 1.2;
				}
				.explanation {
					font-size: 1rem;
				}
				.new-projektterkep-icon {
					padding: 1.5rem;
				}
			}
		}
	}


	// Tartalmaim aloldalak //

	#my-content-subpage {
		margin-top: 150px;
		margin-bottom: 100px;
		.row {
			flex-direction: row;
			#sidebar {
				margin: 0;
				.title-box {
					&.accordion {
						cursor: unset;
						.decoration {
							display: none;
						}
						&.active {
						    .minus {
						    	display: none;
						    }
						    .plus {
						    	display: none;
						    }
					    }
					}
				}
				.panel {
					display: block;
				}
			}
		}
	}
	.page-template-profit-kalkulator {
		#my-content-subpage {
			margin-bottom: 0;
		}
	}



	//Idegen nyelvű oldal

	.page-template-foreign-language-page {
		#reference {
			overflow: hidden;
			.ref-box {
				.unique_popz {
					flex-direction: row;
					padding-top: 100px;
					.image {
						text-align: left;
						img {
							padding-bottom: 6rem;
						}
					}
					.logo-and-text {
						img {
							width: 30%;
						}
					}
				}
				.unique-skewbox_popz {
				    height: 11vw;
				    .unique-popz-gradient-effect-right {
				    	width: 25%;
				    	bottom: 74%;
				    }
				}
				.unique_cosmos {
					.image {
						img {
							padding-bottom: 6rem;
						}
					}
					.logo-and-text {
						img {
							width: 40%;
						}
					}
				}
				.unique-skewbox_cosmos {
				    height: 11vw;
				    .unique-cosmos-gradient-effect-left {
				    	width: 25%;
				    	bottom: 74%;
				    }
				}
			}
		}
	}



	//webfejlesztés landing oldal
	body.webP #hero.front-page.website-design-landing {
		//background-image: url('../images/web-dev-hero-purple-tablet.webp');
	}
	#hero.front-page.website-design-landing {
		//background-image: url('../images/web-dev-hero-purple-tablet.jpeg');
		background-image: none!important;
		padding-bottom: 12vw;
		.yellow-lane {
		    height: 9.5rem;
		    top: 21rem;
		}
		.gradient {
			height: 300px;
		}
		.row {
			.text {
				h1 {
					span {
						font-size: 3.5rem;
					}
				}
				.text-box {
					h2 {
						//max-width: 78%;
						margin: auto;
					}
				}
				p {
					//max-width: 78%;
					margin: auto;
				}
				.work-with-us {
					margin-top: 6rem;
					.row {
						.case-box {
							margin-bottom: 0;
						}
						.btn-gradient_purple {
							font-size: 12px;

						}
					}
				}
			}
			.img-box {
				text-align: right;
				img {
					max-width: 400px;;
				}
			}
			.form {
				.form-box {
					margin-top: 60px;
					margin-left: 3rem;
				  	padding: 1rem 3rem 2rem;
					.wpcf7 {
						input, textarea {
						    &[type=submit] {
							    font-size: 1rem;
						    }
						}
					}
				}
				.consultation {
					margin-left: 6rem;
					.testimonial-person {
						.image,
						.text {
							.name {
								margin: 0;
							}
						}
					}
				}
			}
		}

	}
	#speed.website-design-landing {
		padding-bottom: 7vw;
	}
	#through {
		padding-bottom: 7vw;
		.action-box {
			&.left {
				padding-right: 3rem;
			}
			&.center {
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
			&.right {
				padding-left: 3rem;
			}
			h3 {
				font-size: 1.8rem;
				span {
					font-size: 3rem;
				}
			}
		}
	}
	#enthusiastic.website-design-landing {
		padding: 5vw 0 0vw!important;
	}
	#reference.website-design-landing {
		padding-top: 10vw;
		padding-bottom: 5vw;
		.unique_makad {
			padding-top: 100px;
		}
		.unique_palma,
		.unique_fixbeton {
			img {
				position: relative;
				bottom: 3rem;
			}
		}
		.ref-box {
			.unique {
				padding: 100px 0 0;
			}
		}
	}
	#choose-your-path.website-design-landing {
		padding: 10vw 0;
		.offer-box {
			height: auto;
			margin-top: 60px;
			padding: 40px;
		}
	}
	#projektmap.website-design-landing {
	    padding-bottom: 10vw;
	}
	#contact.website-design-landing {
		padding-top: 8vw!important;
	}
	#why-us.website-design-landing {
		padding: 15vw 0 12vw;
	}
	#result.website-design-landing {
		padding: 7vw 0;
		.inner-container {
			.result-box {
				margin-bottom: 0;
				flex-direction: row;
				.img-box {
					min-width: 70px;
					text-align: center;
					width: auto;
					img {
						max-height: 70px;
					}
				}
				
				.text {
					text-align: left;
					margin-left: 2rem;
					b {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
	#gift.website-design-landing {
		padding: 7vw 0;
	}
	#partners.website-design-landing {
		padding: 5vw 4rem 7vw;
	  	flex-direction: row;	
	  	img {
	  	max-width: 200px;
	  	max-height: 150px;
	  }
	}
}



@media (min-width: 992px) and (max-width: 1199px) {
  	body.webP #hero {
	background-image: url('../images/hero-speed-bg-desktop.webp');
	}
	body.webP #hero.front-page {
		background-image: url('../images/hero-happy-bg-tablet.webp');
	}
	#hero.front-page {
		background-position: 50% 75%;
		background-image: url('../images/hero-happy-bg-tablet.jpeg');
		.hero-gradient {
			background: linear-gradient(90deg,rgba(77,39,128,.5) 45%, rgba(77,39,128,1) 68%);
		}
	}
	.navbar {
		#navbarResponsive {
			.cart-item-count {
				right: -20px;
				left: unset;
    			bottom: 33px;
			}
			.menu-item {
				padding: 10px 5px;
			}
			#menu-item-112 {
				a {
					margin-right: 40px;
				}
			}
		}
		.navbar-brand {
			width: 20%;
		}
		.cart-icon {
		    right: 12px;
    		bottom: 23px;
    		left: unset;
		}
	}
	#hero {
		padding-bottom: 10%;
		background-image: url('../images/hero-speed-bg-desktop.jpeg');
		.row {
			.text {
				text-align: left;
				h1 {
				 	font-size: 4.5rem;
				 	span {
				 		font-size: 4rem
				 	}
				}

				h2 {
					padding: 10px 0;
					margin: 25px 0px 15px 0;
					.gradient-text-bg {
						left: -79%;
    					width: 180%;
	    				height: 100%;
	    				top: 2%;
	    				background-image: url('../images/longer-orange-gradient-effect-hero-desktop.png');
					}
				}
				p {
					font-size: 1.3rem;
					line-height: 1.4;
				}
			}
			.image {
				text-align: center;
				.book {
					width: 100%;
					margin-top: 0;
					margin-bottom: -7%;
				}
				.founder {
					.align-center {
						text-align: right;
					}
				}
			}
		}
		.hero-pattern-right {
			height: 90%;
			opacity: 0.5;
		}
	}
	#hero.front-page.website-design-landing {
		.hero-pattern-right {
			opacity: 0.1;
		}
	}
	#hero.front-page {
		.text {
			h1 {
				font-size: 4rem;
			}
		}
		.image {
			.calculator {
				margin-top: 50px;
			}
		}
	}
	#successfull {
		.guarantee {
			padding-left: 15px;
			padding-right: 15px;
			.align-center {
					.checkmark-star-circle {
						width: 100%;
				}
			}
			div.col-lg-12.col-12 {
				margin-top: -25%;
			}
		}

	}
	#successfull.front-page {
		.secret-of-success-icon {
			width: 60%;
		}
	}
	#secret-of-success  {
		.secret-of-success-icon {
    		margin: 5px 0 25px;
    		width: 50%;
		}
	}

	#enthusiastic.front-page {
		.quote-mark {
			right: 0;
		}
	}
	#experience {
		.certifications {
			.certificate {
				width: 100%;
			}
		}
	}
	#work-together {
		.guarantee {
			.align-center {
				.checkmark-star-circle {
					width: 100%;
				}
			}
		}
		.book {
			width: 100%;
		}
	}
	#reference {
		.ref-box {
			padding-bottom: 120px;
			.unique-skewbox_orange,
			.unique-skewbox_purple,
			.unique-skewbox_qth {
				height: 12vw;
			}
			.pattern-right,
			.pattern-left {
				width: 12%;
			}
			.unique.unique_makad,
			.unique.unique_fixbeton,
			.unique.unique_qth, {
				flex-direction: row;
			}
		}
	}
	footer {
		padding-top: 10%;
	}
}

@media (min-width: 1024px) {
	#hero.front-page.website-design-landing {
		background-image: url('../images/web-dev-hero-tablet.jpeg');
		.yellow-lane {
		    height: 9rem;
		    top: 20.5rem;
		}
	}
}
