
.property-card {
  border: 2px solid #000;
  position: relative;
  margin-bottom: 50px;
}

.property-card .status-main {
  position: absolute;
  top: 20px;
  left: -15px;
  background: #fff;
  border: 1px solid #000;
  padding: 5px;
}

.property-card .status-main p {
  margin-bottom: 0;
}

.property-card .card-content {
  padding: 20px;
}

.property-card .card-content .property-icons {
  text-align: center;
}

.property-card .card-content .property-icons .icon-title {
  font-size: 0.6em;
  font-weight: 700;
}

.property-img {
  width: 100%;
}
