/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

.text-purple {
  color: #2b194c;
}
.text-orange {
  color: #f79024;
}
.text-gradient-bg {
    color: #fff;
    text-transform: uppercase;
    background: rgb(247,144,36);
    background: linear-gradient(90deg, rgba(247,144,36,1) 0%, rgba(239,36,83,1) 100%);
    padding: 5px;
  }
  .section-title {
    text-align: center;
    color: #2b194c;
    font-weight: 800;
  .text-gradient-bg {
      color: #fff;
      text-transform: uppercase;
      background: rgb(247,144,36);
      background: linear-gradient(90deg, rgba(247,144,36,1) 0%, rgba(239,36,83,1) 100%);
      padding: 5px;
    }
  }

  .section-title.dark-bg {
    text-align: center;
    color: #fff;
    font-weight: 800;
    //line-height: 1.6;
    }
  .section-title_smaller.dark-bg {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 5px;
    }
  .section-title.text-purple-bg {
    background: rgb(77,39,128);
    background: linear-gradient(90deg, rgba(77,39,128,1) 0%, rgba(52,26,61,1) 100%);
    padding: 5px 4px;
    font-weight: 700;
    color: #fff;
    margin: 0px 0;
    font-size: 0.86rem;
    display: inline-block;
    margin: auto;
    }

.text-purple-bg_gradient {
    background: rgb(77,39,128);
    background: linear-gradient(90deg, rgba(77,39,128,1) 0%, rgba(52,26,61,1) 100%);
    padding: 1px 8px;
    font-weight: 700;
    color: #fff;
    margin: 0px 0;
    display: inline-block;
    margin: auto;
}


.sub-title {
  text-transform: uppercase;
  text-align: center;
  color: #2b194c;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 25px;
}

.description {
  width: 70%;
  text-align: center;
  margin: auto;
}

  p {
      font-size: 1.2rem;
      line-height: 1.4;
      strong {
        background: #f79024;
        padding: 0px 3px;
        &.bold-only {
          padding: 0;
        }
      }
      &.bold- {
        font-weight: 700;
      }
  &.dark-bg.orange-bg {
      color: #fff;
      background: #f79024;
      font-weight: 700;
      padding: 10px 15px;
    }
  &.dark-bg.purple-bg {
      color: #fff;
      background: #2b194c;
      font-weight: 700;
      padding: 10px 15px;
    }
  }

.bigger-paragraph {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 30px 0;
  span.uppercase {
    text-transform: uppercase;
  } 
  &.dark-bg {
    color: #fff;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.text-normal {
  text-transform: none;
}
.italic {
  font-style: italic;
}
.text-gradient-bg.text-purple {
  color: #2b194c;
  z-index: -1;
  position: relative;
}

.dark-bg {
  color: #fff;
}

.less-line-height {
  line-height: 1.25;
}

.less-margin-bottom {
  margin-bottom: 5px;
}
.less-margin-top {
  margin-top: 5px;
}

.bold-only {
  background-color: transparent;
}

.relative-and-z-index {
  position: relative;
  z-index: 5;
}

.extra-margin_top {
  margin-top: 50px;
}

.extra-margin_bottom {
  margin-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    h2 {
      font-size: 3rem;
    }
    .section-title_smaller.dark-bg {
      font-size: 2.3rem;
    }
    .section-title.text-purple-bg {
      padding: 5px 14px;
      font-size: 1.6rem;
    }

}

@media (min-width: 1200px) {
    .section-title {
      font-size: 3.4rem;
      line-height: 1.3;
    }
    h2 {
      font-size: 3.4rem;
    }
    .section-title_smaller.dark-bg {
      font-size: 3rem;
    }
    .section-title.text-purple-bg {
      padding: 5px 14px;
      font-size: 2.1rem;
    }

}