/* ==========================================================================
   #HR
   ========================================================================== */

hr {
  display: block;
}

.underline {
	width: 50px;
    margin: 0 auto 40px auto;
    background: black;
    height: 2px;
    &.bright {
    	background: #f2f2f2;
    }
}

.gradient-separator {
  height: 5px;
  width: 100%;
  margin: 0;
  background: rgb(247,144,36);
  background: linear-gradient(90deg, rgba(247,144,36,1) 0%, rgba(239,36,83,1) 100%);
  border: none;
  position: relative;
}

.separator-short {
  height: 4px;
  width: 150px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  background: rgb(247,144,36);
  border: none;
  position: relative;
  z-index: 1;
  &.extra-margin_top {
    margin-top: 40px;
  }
}
.separator-short_white {
  height: 4px;
  width: 150px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  background: #fff;
  border: none;
  position: relative;
  z-index: 1;
  &.extra-margin_top {
    margin-top: 40px;
  }
}

.separator-short_purple {
  height: 4px;
  width: 150px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  background: #2b194c;
  border: none;
  position: relative;
  z-index: 1;
}

.gradient-separator-short {
  height: 4px;
  width: 150px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  background: rgb(247,144,36);
  background: linear-gradient(90deg, rgba(247,144,36,1) 0%, rgba(239,36,83,1) 100%);
  border: none;
  position: relative;
  z-index: 1;
}

.separator-left {
  height: 4px;
  width: 50px;
  margin-top: -20px;
  margin-bottom: 30px;
  background: rgb(247,144,36);
  border: none;
  position: relative;
  z-index: 1;
}

.gradient-separator-left {
  height: 4px;
  width: 50px;
  margin-top: -20px;
  margin-bottom: 30px;
  background: rgb(247,144,36);
  background: linear-gradient(90deg, rgba(247,144,36,1) 0%, rgba(239,36,83,1) 100%);
  border: none;
  position: relative;
  z-index: 1;
}


.section-separator {
  position: relative;
  .skew-separator {
    height: 8vw;
      background: #fff;
      transform: skew(0, -4deg);
        margin-top: -4%;
      margin-bottom: 4%;
      position: relative;
      z-index: 2;
  }
  .gradient-effect-left {
      position: absolute;
    z-index: 3;
      top: -60%;
      width: 55%;
  }
}

@media (min-width: 420px) and (max-width: 600px) {
    .section-separator {
    position: relative;
    .skew-separator {
      height: 9vw;
        background: #fff;
        transform: skew(0, -4deg);
          margin-top: -4%;
        margin-bottom: 2%;
        position: relative;
        z-index: 2;
    }
  }
}

@media (min-width: 601px) and (max-width: 767px) {
    .section-separator {
    position: relative;
    .skew-separator {
      height: 9vw;
        background: #fff;
        transform: skew(0, -4deg);
          margin-top: -4%;
        margin-bottom: 0%;
        position: relative;
        z-index: 2;
    }
  }
}
.section-separator_mirror {
  position: relative;
  .skew-separator {
    height: 8vw;
      background: #fff;
    transform: skew(0,4deg);
      margin-top: 4%;
      margin-bottom: -4%;
      position: relative;
      z-index: 2;
  }
  .gradient-effect-left_mirror {
      position: absolute;
      z-index: 3;
      top: 0;
      width: 55%;
  }
}

.section-separator_mirror_bottom {
  position: relative;
  .skew-separator {
    height: 10vw;
      background: #fff;
    transform: skew(0,4deg);
      margin-top: -4%;
      margin-bottom: 4%;
      position: relative;
      z-index: 2;
  }
  .gradient-effect-left_mirror {
      position: absolute;
      z-index: 3;
      top: 10%;
      width: 55%;
  }
    .gradient-effect-right_mirror {
      position: absolute;
      z-index: 10;
      top: -50%;
      right: 0;
      width: 55%;
  }
}

.section-separator_right_top {
  position: relative;
  .skew-separator {
    height: 8vw;
      background: #fff;
    transform: skew(0,-4deg);
      margin-top: -4%;
      margin-bottom: -4%;
      position: relative;
      z-index: 2;
  }
    .gradient-effect-right {
      position: absolute;
      z-index: 3;
      top: 25%;
      width: 55%;
      right: 0;
  }
}

.section-separator_right_bottom {
  position: relative;
  .skew-separator {
    height: 8vw;
      background: #fff;
    transform: skew(0,-4deg);
      margin-top: -4%;
      margin-bottom: -4%;
      position: relative;
      z-index: 2;
  }
    .gradient-effect-right {
      position: absolute;
      z-index: 3;
      bottom: 40%;
      width: 55%;
      right: 0;
  }
}

.section-separator_right_mirror_bottom {
  position: relative;
  .skew-separator {
    height: 8vw;
      background: #fff;
    transform: skew(0,4deg);
      margin-top: -4%;
      margin-bottom: -4%;
      position: relative;
      z-index: 2;
  }
    .gradient-effect-right_mirror {
      position: absolute;
      z-index: 3;
      bottom: 40%;
      width: 55%;
      right: 0;
  }
}



// UNIQUE SEPARATOR FOR - POINT OF VIEW SECTION//
.section_point-of-view.section-separator_right_top {
  .gradient-effect-right {
    top: 0%;
  }
  .skew-separator {
      background: linear-gradient(90deg, #f3f3f3 0%, #fff 100%);
  }
}

// END OF UNIQUE SEPARATOR //

// UNIQUE SEPARATOR FOR - BOOK IN NUMBERS SECTION//
.section_book-in-numbers.section-separator_mirror{
  .skew-separator {
      background: linear-gradient(90deg, #f3f3f3 0%, #fff 100%);
      margin-top: -4%;
  }
}

// END OF UNIQUE SEPARATOR //

// UNIQUE SEPARATOR FOR - MISSON SECTION//
.section_mission.section-separator_mirror_bottom,
.section_mission.section-separator_right_bottom {
  .skew-separator {
      background: linear-gradient(90deg, #f3f3f3 0%, #fff 100%);
  }
}

// END OF UNIQUE SEPARATOR //

// UNIQUE SEPARATOR FOR - TIME SPENT ON WRITING SECTION//
.section_time-spent-on-writing.section-separator,
.section_time-spent-on-writing.section-separator {
  .gradient-effect-left {
    top: 40%;
    }
  .skew-separator {
      margin-top: -4%;
      margin-bottom: -4%;
    }
}

// END OF UNIQUE SEPARATOR //

// UNIQUE SEPARATOR FOR - WORK TOGETHER SECTION//
.section_work-together.section-separator,
.section_work-together.section-separator {
  .gradient-effect-left {
    top: 40%;
    }
  .skew-separator {
      margin-top: -4%;
      margin-bottom: -4%;
      background: linear-gradient(90deg, #f3f3f3 0%, #fff 100%);
    }
}

// END OF UNIQUE SEPARATOR //

// UNIQUE SEPARATOR FOR - WORK TOGETHER SECTION//
.section_methodology.section-separator,
.section_methodology.section-separator {
  .gradient-effect-left {
    top: 40%;
    }
  .skew-separator {
      margin-top: -4%;
      margin-bottom: -4%;
      background: #fff;
    }
}

// END OF UNIQUE SEPARATOR //

// UNIQUE SEPARATOR FOR - KEY OF SUCCESS SECTION//
.section_key-of-success.section-separator_mirror_bottom, {
    height: 12vw;
  .skew-separator {
      background: rgb(79,39,122);
      background: linear-gradient(90deg, rgba(79,39,122,1) 0%, rgba(39,39,39,1) 100%);
      margin-bottom: 2%;
  }
}

.section_key-of-success.section-separator_right_bottom {
    .skew-separator {
      background: linear-gradient(90deg, #f3f3f3 0%, #fff 100%);
  }
}

// END OF UNIQUE SEPARATOR //

// UNIQUE SEPARATOR FOR - CHOOSE YOUR PATH SECTION//
.section_choose-your-path.section-separator, {
    .gradient-effect-left {
      top: 40%;
    }
  .skew-separator {
      background: #fff;
  }
}


// END OF UNIQUE SEPARATOR //

// UNIQUE SEPARATOR FOR - TESTIMONIALS SECTION//
.section_testimonials.section-separator_mirror_bottom, {
  .skew-separator {
      background: #f5f5f5;
      margin-top: -9%;
      margin-bottom: -5%;
      z-index: 5;
  }
}


// END OF UNIQUE SEPARATOR //

// UNIQUE SEPARATOR FOR - PROGRESS SECTION//
.section_progress.section-separator, {
    .gradient-effect-left {
      top: 40%;
    }
    .skew-separator {
      margin-bottom: -4%;
    }

}


.section-separator_right_mirror_bottom.section_progress {
    .skew-separator {
      background: linear-gradient(90deg, #f3f3f3 0%, #fff 100%);
  }
      .gradient-effect-right_mirror {
      bottom: 5%;
    }
}


// END OF UNIQUE SEPARATOR //


// UNIQUE SEPARATOR FOR - SPEED SECTION//
.section-separator_right_mirror_bottom.section_speed,
.section-separator_right_mirror_bottom.section_methodology {
    .gradient-effect-right_mirror {
      bottom: 5%;
    }

}



.section-separator .skew-separator_gradient_gray {
  background: linear-gradient(90deg, #f3f3f3 0%, #fff 100%);
}

.section-separator .skew-separator_gradient_purple {
  background: rgb(79,39,122);
  background: linear-gradient(90deg, rgba(79,39,122,1) 0%, rgba(39,39,39,1) 100%);
}

.section-separator .skew-separator_gradient_orange {
  background: rgb(247,144,36);
  background: linear-gradient(90deg, rgba(247,144,36,1) 0%, rgba(239,36,83,1) 100%);
}



  .testimonial-box {
    margin-bottom: 30px;
    .opininon {
      margin-bottom: 10px;
    }
    .testimonial-person {
      .image {
        .testimonial-person-img {
          width: 100%;
          max-width: 90px;
        }
      }
      .text {
        margin-left: -10px;
        .name {
            margin-bottom: 0px;
            margin-top: 5px;
            font-size: 1.5rem;
        }
      }
    }
  }

@media (min-width: 768px) and (max-width: 999px) {
    .section-separator {
      .skew-separator {
        margin-bottom: 0%;
      }
    }

    .section_key-of-success.section-separator_mirror_bottom {
        height: 9vw;
      .skew-separator {
      margin-bottom: -4%;
      z-index: 1;
    }
  }
}


@media (min-width: 1000px) {
  .section-separator,
  .section-separator_right_top,
  .section-separator_mirror,
  .section-separator_mirror_bottom,
  .section-separator_right_bottom,
  .section-separator_right_mirror_bottom {
      .gradient-effect-left,
      .gradient-effect-left_mirror,
      .gradient-effect-right,
      .gradient-effect-right_mirror {
      width: 35%;
      top: -22%;
    }
  }
  .section-separator .skew-separator {
    margin-bottom: -4%;
  }
  .section-separator_right_bottom .gradient-effect-right {
    bottom: 78%;
    top: auto;
  }
  .section-separator_mirror .gradient-effect-left_mirror,
  .section_point-of-view.section-separator_right_top .gradient-effect-right {
    top: 20%;
  }
  .section_time-spent-on-writing.section-separator .gradient-effect-left,
  .section_progress.section-separator .gradient-effect-left,
  .section_work-together.section-separator .gradient-effect-left,
  .section_methodology.section-separator .gradient-effect-left {
    top: 75%;
    bottom: auto;
  }
  .section_key-of-success.section-separator_mirror_bottom {
    height: 6vw;
      .skew-separator {
      margin-bottom: -4%;
      z-index: 1;
    }
  }

  .section_choose-your-path.section-separator .gradient-effect-left {
    top: 76%;
    bottom: auto;
  }
  .section_point-of-view.section-separator_right_top .gradient-effect-right {

  }
  .separator-short,
  .gradient-separator-short {
    margin-bottom: 50px;
  }
}