/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: $color-white;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    color: $color-hover;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}
