.calculator {
	background-image: url('../images/calc-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
	font-family: "Montserrat";
	font-size: 14px;
	width: 100%;
	display: flex;
	margin-top: 25px;
	justify-content: center;
	box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
	max-width: 560px;
	border-radius: 7px;
}

.white-side {
	background: #fff;
}

.calculator .white-side {
	border-radius: 5px 0 0 5px;
}

/*.blue-side {
  width: 50%;
}*/

/*.calculator .blue-side .inputfields-box {
	border-radius: 0 3px 3px 0;
}*/

.inputfields-box {
	padding: 30px 25px;
}

.blue-side .inputfields-box {
	padding: 30px 25px;
	background: transparent;
	height: 100%;
	text-align: left;
}

.calculator ul {
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
}

.calculator ul li {
	margin-bottom: 25px !important;
	padding: 0 !important;
	text-align: left;
}

.calculator ul li:nth-last-child(1) {
	margin-bottom: 0 !important;
}

.calculator label {
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: bold;
	color: #3f3f3f;
	margin: 0;
	text-align: left;
}

.blue-side .inputfields-box label {
	color: #fff;
}

#hero .blue-side .result-box .title {
	color: #fff;
}

.input-box {
	margin-top: 0px;
	margin-bottom: 4px;
}

.calculator .input-range {
	display: flex;
	align-items: center;
	margin-top: 0px;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 60%;
	height: 5px;
	border-radius: 5px;
	background: #f79024;
	margin: 0 20px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #f79024;
	cursor: pointer;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.8);
}

input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #F39C12;
	cursor: pointer;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.7);
}

input[type="number"] {
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 700;
	line-height: 32px;
	color: #3f3f3f;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.result-box {
	margin-top: 15px;
	text-align: left;
}

.result-box .title {
	font-family: "Montserrat" !important;
	font-size: 16px !important;
	font-weight: bold !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	text-shadow: none !important;
	line-height: 21px;
}

.result-box .result {
	color: #484748;
	font-family: "Montserrat";
	font-weight: 800;
	font-size: 36px;
	display: inline-block;
	margin-top: 0px;
	line-height: 0.9;
	background: linear-gradient(to left,#ef2452 0,#f79024 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.result-box .result #result {
	font-size: 60px;
}

.result-box .result2 {
	color: #484B54;
	font-family: "Montserrat";
	font-weight: 800;
	font-size: 18px;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0px;
	line-height: 1.2;
	background: linear-gradient(to left,#ef2452 0,#f79024 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.result-box .result2 #result2 {
	font-size: 26px;
}

@media only screen and (max-width: 768px) {
	.calculator {
		background-image: url('../images/calc-bg-mobile.jpg');
		background-size: cover;
		background-position: center -250px;
		flex-wrap: wrap;
		font-size: 12px;
		margin: auto;
		margin-top: 30px;
	}

	.calculator .white-side {
		border-radius: 0 0 5px 5px;
		order: 2;
	}

	.col8 {
		width: 100%;
	}

	.calculator label, input[type="number"] {
		font-size: 15px;
	}

	.calculator ul li {
		 margin-bottom: 20px!important;
	 }

	.calculator .input-range {
		font-size: 14px;
	}

	.result-box .title {
		font-size: 15px;
	}

	.result-box .result {
		font-size: 32px;
	}

	.result-box .result2 {
		font-size: 20px;
	}

	.calculator .input-range {
		justify-content: space-between;
	}

	.inputfields-box {
		padding: 25px 20px;
		text-align: left;
	}

	.inputfields-box,
	.result-box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.inputfields-box .group,
	.result-box .group {
		width: 45%;
	}

	.blue-side .inputfields-box {
		padding: 25px 20px 0px;
	}

	.calculator .input-box {
		margin-top: 6px;
		margin-bottom: 4px;
	}

	.result-box {
		margin-top: 0px;
		width: 100%;
	}

	.result-box .result,
	.result-box .result2 {
		font-size: 20px;
		line-height: 1.2;
	}

	.result-box #result,
	.result-box #result2 {
		font-size: 32px!important;
	}

	input[type="range"] {
		margin: 0 25px;
	}

	input[type="number"] {
		width: 100%;
	}
}

@media only screen and (max-width: 400px) {
	.calculator {
		font-size: 13px;
	}

	.calculator label, input[type="number"] {
		font-size: 13px;
	}

	.result-box .title {
		font-size: 13px!important;
	}

	.result-box .result {
		font-size: 22px;
		margin-bottom: 10px;
		margin-top: 0;
		line-height: 1.2;
	}

	.result-box #result {
		font-size: 32px!important;
	}

	.result-box .result2 {
		font-size: 22px !important;
	}

	.result-box #result2 {
		font-size: 32px!important;
	}

	.result-box {
		margin-top: 0px;
	}

	input[type="range"] {
		margin: 0 15px;
	}

	.calculator .input-range {
		margin-top: 5px;
	}

	.calculator ul {
		width: 100%;
	}

	.calculator ul li {
		margin-bottom: 12px !important;
	}

	.input-box {
		margin: 8px 0 0;
	}
}
