/*!
 *  ThemePlate 0.1.0
 *  Copyright (C) 2021 gkriston84
 *  Licensed under GPL-2.0-only.
 */

@media (min-width: 1200px) {
  section {
    padding: 7vw 0 0vw 0;
  }
  .hide-on-mobile {
    display: block;
  }
  .hide-on-desktop {
    display: none;
  }
  .less-width {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .med-width {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .lesser-width {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  #wpcf7-f5-o1 > form > div.wpcf7-response-output {
    width: 76%;
  }
  #scroll-to-top {
    bottom: 30px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
  }
  #scroll-to-top img {
    width: 50px;
  }
  body.webP #hero {
    background-image: url("../images/hero-speed-bg-desktop.webp");
  }
  body.webP #hero .row .text .gradient-text-bg {
    background-image: url("../images/longer-orange-gradient-effect-hero-desktop.webp");
  }
  .navbar .menu-main-menu-container {
    padding-right: 35px;
  }
  .navbar .navbar-brand {
    width: 20%;
  }
  .navbar .navbar-brand .logo {
    width: 70%;
    height: 60px;
  }
  .navbar #navbarResponsive .menu-item {
    padding: 10px 5px;
  }
  .navbar #navbarResponsive .menu-item.current-menu-item a {
    opacity: 0.8;
    border-bottom: 4px solid orange;
    border-image-slice: 1;
    border-width: 4px;
    border-image-source: linear-gradient(90deg, #f79024 0%, #ef2453 100%);
    padding-bottom: 5px;
  }
  .navbar #navbarResponsive .menu-item.menu-item-type-custom a {
    border: none;
  }
  .navbar #navbarResponsive .menu-item a {
    display: inline;
  }
  .navbar #navbarResponsive .menu-item a:hover {
    opacity: 0.8;
    border-bottom: 4px solid orange;
    border-image-slice: 1;
    border-width: 4px;
    border-image-source: linear-gradient(90deg, #f79024 0%, #ef2453 100%);
    padding-bottom: 5px;
  }
  .navbar #navbarResponsive .cart-item-count {
    right: -18px;
    top: 4px;
    left: unset;
    bottom: unset;
  }
  .navbar.without-nav .navbar-brand .logo {
    width: 75%;
    max-width: 300px;
    height: 110px;
  }
  .navbar .navbar-pattern-right {
    visibility: hidden;
    display: unset;
    width: 3%;
    right: 0;
    position: fixed;
    height: 100%;
  }
  .navbar #menu-item-112 > a {
    margin-right: 35px;
  }
  .navbar .cart-icon {
    width: 25px;
    position: absolute;
    right: 13px;
    top: 11px;
    left: unset;
    bottom: unset;
  }
  .navbar .navbar-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #hero {
    padding-bottom: 10%;
    background-image: url("../images/hero-speed-bg-desktop.jpeg");
  }
  #hero .row .text {
    text-align: left;
  }
  #hero .row .text h1 {
    font-size: 7.5rem;
  }
  #hero .row .text h1 span {
    font-size: 4rem;
  }
  #hero .row .text h2 {
    padding: 10px 0;
    margin: 25px 0px 15px 0;
  }
  #hero .row .text h2 .gradient-text-bg {
    left: -79%;
    width: 180%;
    height: 100%;
    top: 2%;
    background-image: url("../images/longer-orange-gradient-effect-hero-desktop.png");
  }
  #hero .row .text p {
    font-size: 1.3rem;
    line-height: 1.4;
  }
  #hero .row .image {
    text-align: center;
  }
  #hero .row .image .book {
    width: 90%;
    margin-top: 0;
    margin-bottom: -7%;
  }
  #hero .row .image .founder .align-center {
    text-align: right;
  }
  #hero .testimonial-box {
    max-width: 900px;
    padding-top: 2%;
    margin: auto;
  }
  #hero .testimonial-box .testimonial-person {
    padding-top: 20px;
  }
  #hero .testimonial-box .testimonial-person .image {
    text-align: left;
  }
  #hero .testimonial-box .testimonial-person .text {
    padding-top: 10px;
  }
  #hero .hero-pattern-right {
    height: 85%;
    opacity: 0.3;
  }
  body.webP #hero.front-page {
    background-image: url("../images/hero-happy-bg-desktop.webp");
  }
  #hero.front-page {
    background-image: url("../images/hero-happy-bg-desktop.jpeg");
    background-position: -335px 75%;
    background-size: 100%;
  }
  #hero.front-page .hero-gradient {
    background: linear-gradient(90deg, rgba(77, 39, 128, 0.5) 45%, #4d2780 68%);
  }
  #hero.front-page .row .text h1 {
    font-size: 5.5rem;
    line-height: 1;
    font-weight: 900;
  }
  #hero.front-page .row .text h1 span {
    font-size: 5.5rem;
  }
  #hero.front-page .row .text .idea {
    font-size: 2.2rem;
    margin: 0;
    line-height: .2;
  }
  #hero.front-page .row .image {
    padding-top: 45px;
  }
  #hero.front-page .row .call-to-action a {
    display: inline-block;
  }
  body.webP #hero.landing-page_webmap {
    background-image: url("../images/web-projectmap-bg-desktop.webp");
  }
  #hero.landing-page_webmap {
    background-image: url("../images/web-projectmap-bg-desktop.jpeg");
    background-image: none;
    background-position: 50% 8%;
    padding-bottom: 12vw;
  }
  #hero.landing-page_webmap .image .web-projectmap {
    border-radius: 3px;
    width: 100%;
    max-width: 500px;
    transform: rotate(0deg);
    margin-top: 60px;
    margin-left: 60px;
    transform: scale(1.1);
  }
  #hero.landing-page_webmap .row .text h1 {
    font-size: 5.4rem;
    line-height: .7;
  }
  #hero.landing-page_webmap .row .text h1 span {
    font-size: 3.7rem;
  }
  .section-separator.landing-page_webmap .skew-separator h2 {
    font-size: 1.8rem;
    position: absolute;
    right: 50px;
    bottom: -10px;
  }
  .section-separator.landing-page_webmap .skew-separator h2 strong {
    color: #f79024;
    font-weight: 800;
    text-transform: uppercase;
  }
  .section-separator.landing-page_webmap .skew-separator h2 strong span {
    color: #ef2453;
  }
  #contact.newsletter.landing-page_webmap {
    padding: 7vw 0vw;
  }
  #successfull .bigger-paragraph {
    margin-bottom: 100px;
  }
  #successfull .guarantee {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex-align: center;
        align-items: center;
  }
  #successfull .guarantee div.col-lg-12.col-12 {
    margin-top: -50%;
  }
  #successfull .guarantee .align-center .checkmark-star-circle {
    width: 100%;
    max-width: unset;
  }
  #successfull.front-page {
    margin-bottom: -40px;
  }
  #successfull.front-page .secret-of-success-icon {
    width: 60%;
    max-width: 150px;
    margin-top: 15px;
  }
  #successfull.front-page .bullseye-arrow {
    right: -13%;
    width: 20%;
  }
  #enthusiastic.front-page {
    padding: 14vw 0 3vw;
  }
  #enthusiastic.front-page .quote-mark {
    width: 12%;
    left: -4%;
    top: -15%;
  }
  #enthusiastic.front-page .recommendation {
    margin: 0px auto 70px;
  }
  #progress {
    padding: 15vw 0 13vw;
  }
  #progress .pattern-top_white {
    width: 27%;
  }
  #experience {
    padding: 7vw 0;
  }
  #experience .certifications .certificate {
    width: 100%;
  }
  #work-together {
    padding: 15vw 0 13vw;
  }
  #work-together .pattern-top_white {
    width: 27%;
  }
  #work-together .row .guarantee .text {
    text-align: left;
  }
  #work-together .row .guarantee .call-to-action a {
    display: inline-block;
  }
  #work-together .row .guarantee .align-center .checkmark-star-circle {
    width: 100%;
    max-width: unset;
  }
  #work-together .book {
    width: 100%;
  }
  #dxengine {
    padding: 7vw 0 7vw;
  }
  #dxengine .row .dxengine-logo {
    width: 45%;
  }
  #reference {
    padding: 7vw 0 0;
  }
  #reference .ref-box {
    background-color: #fff;
  }
  #reference .ref-box .unique-skewbox_orange {
    background: linear-gradient(90deg, #f79024, #ef2453);
    height: 11vw;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: -4%;
    transform: skew(0, -4deg);
    z-index: -1;
  }
  #reference .ref-box .unique-skewbox_orange .gradient-effect-left {
    transform: skew(0, 4deg);
    bottom: 74%;
    position: absolute;
    width: 25%;
  }
  #reference .ref-box .unique-skewbox_qth {
    background: #445963;
    height: 11vw;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: -4%;
    transform: skew(0, 4deg);
    z-index: -1;
  }
  #reference .ref-box .unique-skewbox_qth .gradient-effect-right {
    transform: skew(0, -4deg);
    bottom: 74%;
    right: 0;
    position: absolute;
    width: 25%;
  }
  #reference .ref-box .unique-skewbox_purple {
    background: linear-gradient(90deg, #4f277a 0%, #272727 100%);
    height: 11vw;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: -4%;
    transform: skew(0, -4deg);
    z-index: -1;
  }
  #reference .ref-box .unique-skewbox_purple .gradient-effect-left {
    transform: skew(0, 4deg);
    bottom: 74%;
    position: absolute;
    width: 25%;
  }
  #reference .ref-box .pattern-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8%;
    z-index: -1;
  }
  #reference .ref-box .pattern-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 8%;
    z-index: -1;
  }
  #reference .ref-box .unique {
    padding: 120px 0 0;
  }
  #reference .ref-box .unique .logo-and-text {
    text-align: left;
  }
  #reference .ref-box .unique .logo-and-text .ref-logo {
    width: 20%;
    margin-bottom: 30px;
  }
  #reference .ref-box .unique .logo-and-text .ref-logo.palma-logo {
    width: 20%;
  }
  #reference .ref-box .unique .logo-and-text .ref-logo.it-logo {
    width: 35%;
  }
  #reference .ref-box .unique .logo-and-text .ref-logo.qth-logo {
    width: 30%;
  }
  #reference .ref-box .unique .logo-and-text p {
    font-weight: 400;
    width: 90%;
    margin-left: 0;
    line-height: 1.2;
  }
  #reference .ref-box .unique .logo-and-text .call-to-action {
    margin-top: 30px;
  }
  #reference .ref-box .unique .image {
    text-align: right;
  }
  #reference .ref-box .unique .image .ref-image {
    margin-left: 80px;
    margin-top: 0;
    width: 75%;
  }
  #reference .ref-box .unique .image .ref-image.qth-img {
    margin-left: 0;
  }
  #reference .ref-box .unique.unique_qth {
    -ms-flex-direction: inherit;
        flex-direction: inherit;
  }
  #reference .ref-box .unique.unique_makad {
    -ms-flex-direction: inherit;
        flex-direction: inherit;
    padding-top: 120px;
    padding-bottom: 2rem;
  }
  #reference .ref-box .unique.unique_makad .image {
    text-align: left;
  }
  #reference .ref-box .unique.unique_makad .image .ref-image {
    position: relative;
    left: -1rem;
    bottom: 3rem;
    margin-left: 0;
    padding-bottom: 0;
  }
  #reference .ref-box .unique.unique_makad .logo-and-text .makad-hills-logo {
    width: 50%;
    max-width: 320px;
  }
  #reference .ref-box .unique.unique_fixbeton {
    -ms-flex-direction: inherit;
        flex-direction: inherit;
    padding-bottom: 2rem;
  }
  #reference .ref-box .unique.unique_fixbeton .image {
    text-align: left;
  }
  #reference .ref-box .unique.unique_fixbeton .image .ref-image {
    margin-left: 0;
    padding-bottom: 0;
    margin-top: 0;
  }
  #reference .ref-box .unique.unique_fixbeton .logo-and-text .fixbeton-logo {
    width: 50%;
    max-width: 320px;
  }
  #reference .ref-box .unique-skewbox_makad {
    background: linear-gradient(90deg, #2c7fa5 0%, #2a2c39 100%);
    height: 11vw;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: -4%;
    transform: skew(0, 4deg);
    z-index: -1;
  }
  #reference .ref-box .unique-skewbox_makad .gradient-effect-right {
    transform: skew(0, -4deg);
    bottom: 74%;
    right: 0;
    position: absolute;
    width: 25%;
  }
  #reference .ref-box .unique-skewbox_fixbeton {
    background: linear-gradient(90deg, #78b101 0%, #333333 100%);
    height: 11vw;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: -4%;
    transform: skew(0, 4deg);
    z-index: -1;
  }
  #reference .ref-box .unique-skewbox_fixbeton .gradient-effect-right {
    transform: skew(0, -4deg);
    bottom: 74%;
    right: 0;
    position: absolute;
    width: 25%;
  }
  #reference .ref-box .unique_qth .image {
    text-align: left;
  }
  .straight-white {
    height: 8vw;
    background-color: #fff;
    margin-top: -7%;
    position: relative;
    z-index: 10;
  }
  #speed {
    padding: 15vw 0 11.5vw;
  }
  #methodology {
    padding: 14vw 0 13vw;
    z-index: 10;
  }
  #methodology iframe {
    height: 290px;
  }
  #contact.front-page {
    padding: 11vw 0 10vw;
  }
  #contact.front-page .contact-form {
    width: 80%;
  }
  #pre-market {
    padding: 5vw 0 10vw;
  }
  #point-of-view {
    padding: 6vw 0 12vw;
  }
  #point-of-view.front-page {
    background: #fff;
    padding: 7vw 0 7vw;
  }
  #book-in-numbers {
    padding: 12vw 0 7vw;
  }
  #book-in-numbers .row .results .text {
    width: 88%;
  }
  #enthusiastic {
    padding: 13vw 0 1vw;
  }
  #enthusiastic .row .testimonial-box {
    padding: 0 30px;
  }
  #enthusiastic .recommendation {
    margin: 50px auto 120px;
  }
  #less-and-more {
    padding: 11vw 0 10vw 0;
  }
  #less-and-more .gradient-orange {
    background-position: 50% 25%;
  }
  #why-us {
    padding: 15vw 0 12vw;
  }
  #who-is-gabor {
    padding: 15vw 0 12vw;
  }
  #who-is-gabor .pattern-top_white {
    width: 27%;
    top: 6%;
  }
  #mission {
    padding: 6vw 0 3vw;
    position: relative;
    z-index: 3;
  }
  #secret-of-success {
    padding: 7vw 0 7vw;
  }
  #secret-of-success .info-box {
    width: 80%;
    margin: auto;
  }
  #secret-of-success .secret-of-success-icon {
    margin: 5px 0;
    width: 70%;
  }
  #secret-of-success .secret-of-success-icon.tasks {
    width: 55%;
  }
  #secret-of-success .row .row {
    padding: 0 15px;
    margin-bottom: 20px;
  }
  #secret-of-success .row .row div {
    padding: 0 15px;
  }
  #time-spent-on-writing {
    padding: 13vw 0 14vw;
  }
  #richfull-informations {
    padding: 5vw 0 5vw;
    z-index: 1;
    position: relative;
  }
  #richfull-informations .row .results .text {
    width: 88%;
  }
  #key-of-success {
    padding: 5vw 0 14vw;
  }
  #process {
    padding: 7vw 0 5vw;
  }
  #many-question {
    padding: 7vw 0 1vw;
  }
  #many-question .row {
    margin-bottom: 80px;
  }
  #many-question .row .set-of-answers .answers .question {
    font-size: 1.5rem;
    width: 100%;
    margin-top: 5px;
    height: auto;
  }
  #many-question .row .set-of-answers .question-img {
    padding: 4px 10px 0 0;
    position: relative;
  }
  #many-question .row .set-of-answers .question-img .plus-mark {
    width: 100%;
    margin-top: 0;
    max-width: 50px;
    padding-right: 2px;
    margin-top: 5px;
  }
  #many-question .call-to-action {
    margin-bottom: 150px;
  }
  #many-question.front-page {
    padding: 3vw 0 5vw;
  }
  #choose-your-path {
    padding: 14vw 0 19vw;
  }
  #choose-your-path .offer-box {
    margin: 40px 0 80px;
    height: 100%;
  }
  #choose-your-path .offer-box:nth-child(2) {
    margin-top: 55px;
  }
  #choose-your-path .offer-box:nth-child(3) {
    margin-top: 120px;
  }
  #choose-your-path .row {
    -ms-flex-pack: center;
        justify-content: center;
  }
  #choose-your-path .pattern-top_red {
    position: absolute;
    right: 0;
    width: 30%;
    z-index: 1;
    top: 10px;
    opacity: 0.4;
  }
  #choose-your-path .simplepay-box {
    text-align: center;
    margin-top: -60px;
  }
  #choose-your-path .simplepay-box .simplepay-logo {
    width: 15%;
  }
  #testimonials {
    padding: 8vw 0 8vw;
  }
  #testimonials.front-page {
    padding: 6.5vw 0 2vw;
  }
  footer {
    padding: 6vw 0 0vw;
  }
  footer.landing {
    padding-top: 0;
  }
  footer h3:nth-child(6) {
    margin-top: 40px;
  }
  footer .footer-logo {
    text-align: left;
  }
  footer #copyright {
    text-align: center;
  }
  footer #copyright .container {
    padding: 0;
  }
  footer #copyright .container p {
    margin-bottom: 2px;
    margin: 0 15px 0 0;
    display: inline-block;
  }
  footer #copyright .container .simplepay-logo {
    max-width: 100px;
    display: inline-block;
    margin: 0;
  }
  footer.credo .badge {
    max-width: 120px;
    margin: 10px 0;
  }
  .page-banner {
    height: 250px;
    background: linear-gradient(90deg, #4f277a 0%, #272727 100%);
  }
  .page-banner .section-title {
    font-size: 3.4rem;
  }
  .page-banner .hero-pattern-right {
    position: absolute;
    width: 5%;
    right: 0;
    top: 0;
    height: 310px;
    object-fit: cover;
    z-index: 3;
  }
  .page-banner.simple-page {
    height: 450px;
    position: relative;
  }
  .page-banner.simple-page .section-title {
    padding-top: 160px;
    top: unset;
    font-size: 3.4rem;
  }
  .page-banner.simple-page .content .row {
    margin-top: 150px;
  }
  .page-template-weboldal-projektterkep .page-banner.simple-page {
    height: 190px;
  }
  .page-template-weboldal-projektterkep .page-banner.simple-page h1, .page-template-weboldal-projektterkep .page-banner.simple-page hr {
    display: none;
  }
  #page-cart .page-banner {
    height: 450px;
  }
  #page-cart .page-banner .section-title {
    padding-top: 160px;
    margin-bottom: 50px;
    font-size: 3.4rem;
  }
  #page-cart .page-banner .hero-pattern-right {
    position: absolute;
    width: 6%;
    right: 0;
    top: 0;
    height: 300px;
    object-fit: cover;
  }
  #page-cart .page-banner .cart-icon-big {
    position: absolute;
    top: 22%;
    left: 3%;
    width: 15%;
    max-width: 200px;
  }
  #page-cart main {
    padding: 0px 0 100px;
  }
  #page-cart main .actions button[type="submit"] {
    padding: 17px 30px;
    font-size: 1.1rem;
  }
  #page-cart main > div > div.cart-collaterals {
    margin-top: 60px;
  }
  #page-cart main > div > div.cart-collaterals .cart_totals {
    width: 80%;
  }
  #page-cart main > div > div.cart-collaterals .cart_totals .wc-proceed-to-checkout a {
    width: 40%;
    margin-top: 40px;
  }
  #page-checkout .page-banner {
    height: 450px;
  }
  #page-checkout .page-banner .section-title {
    padding-top: 160px;
    margin-bottom: 50px;
    font-size: 3.4rem;
  }
  #page-checkout .page-banner .hero-pattern-right {
    position: absolute;
    width: 6%;
    right: 0;
    top: 0;
    height: 300px;
    object-fit: cover;
  }
  #page-checkout .page-banner .checkout-icon-big {
    position: absolute;
    top: 22%;
    left: 3%;
    width: 15%;
    max-width: 200px;
  }
  #page-checkout section {
    padding: 30px 0;
  }
  #page-checkout #payment #salesautopilot_subscription_section p label.checkbox .input-checkbox {
    top: 4px;
  }
  .content .woocommerce {
    padding: 0;
  }
  .woocommerce-checkout .woocommerce {
    padding: 0;
  }
  .woocommerce-checkout .woocommerce .checkout #customer_details {
    margin: 0;
  }
  .woocommerce-checkout .woocommerce .checkout #customer_details .col-12 {
    padding: 0 15px;
  }
  .woocommerce-checkout .woocommerce .checkout #order_review .woocommerce-checkout-review-order-table thead tr th {
    width: 180px;
    padding: 30px;
    font-size: inherit;
  }
  .woocommerce-checkout .woocommerce .checkout #order_review .woocommerce-checkout-review-order-table tbody th,
  .woocommerce-checkout .woocommerce .checkout #order_review .woocommerce-checkout-review-order-table tbody td {
    padding: 30px;
    font-size: inherit;
  }
  .woocommerce-checkout .woocommerce .checkout #order_review .woocommerce-checkout-review-order-table tfoot .cart-subtotal th,
  .woocommerce-checkout .woocommerce .checkout #order_review .woocommerce-checkout-review-order-table tfoot .shipping th {
    padding: 15px 30px;
    font-size: inherit;
  }
  .woocommerce-checkout .woocommerce .checkout #order_review .woocommerce-checkout-review-order-table tfoot .cart-subtotal td,
  .woocommerce-checkout .woocommerce .checkout #order_review .woocommerce-checkout-review-order-table tfoot .shipping td {
    padding: 15px 30px;
    font-size: inherit;
  }
  .woocommerce-checkout .woocommerce .checkout #order_review .woocommerce-checkout-review-order-table tfoot .order-total th, .woocommerce-checkout .woocommerce .checkout #order_review .woocommerce-checkout-review-order-table tfoot .order-total td {
    padding: 15px 30px;
    font-size: inherit;
  }
  .woocommerce-checkout .woocommerce .checkout #order_review .woocommerce-checkout-review-order-table tfoot .order-total th {
    font-size: 1.3rem;
  }
  .woocommerce-checkout .woocommerce .checkout #payment {
    padding: 15px;
  }
  .woocommerce-checkout .woocommerce .checkout #payment .wc_payment_method.payment_method_simplepay-gateway a img {
    width: 25%;
    float: right;
  }
  .woocommerce-checkout .woocommerce .checkout #payment .wc_payment_method label {
    font-size: 20px;
  }
  .woocommerce .woocommerce-message .wc-forward {
    margin-left: 10px;
    width: auto;
    text-align: left;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }
  .woocommerce .woocommerce-message:before {
    bottom: unset;
    top: 1em;
  }
  .woocommerce .woocommerce-form-coupon-toggle .woocommerce-info,
  .woocommerce .woocommerce-form-login-toggle .woocommerce-info {
    padding: 3px 75px;
  }
  .woocommerce .woocommerce-form-coupon-toggle .woocommerce-info .showcoupon,
  .woocommerce .woocommerce-form-coupon-toggle .woocommerce-info .showlogin,
  .woocommerce .woocommerce-form-login-toggle .woocommerce-info .showcoupon,
  .woocommerce .woocommerce-form-login-toggle .woocommerce-info .showlogin {
    margin-left: 10px;
    width: auto;
    text-align: left;
    display: inline-block;
  }
  #page-account {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 100px;
  }
  #page-account .page-banner {
    height: 450px;
  }
  #page-account .page-banner .section-title {
    padding-top: 160px;
    font-size: 3.4rem;
  }
  #page-account main {
    padding-top: 0;
  }
  #page-account main .woocommerce {
    padding: 0;
  }
  #page-account main .woocommerce .woocommerce-MyAccount-navigation {
    width: 25%;
  }
  #page-account main .woocommerce .woocommerce-MyAccount-navigation ul li {
    margin: 0 0 20px;
    width: 80%;
    display: block;
    padding: 0;
  }
  #page-account main .woocommerce .woocommerce-MyAccount-content {
    width: 75%;
  }
  #page-account main .woocommerce .woocommerce-MyAccount-content .woocommerce-Button {
    width: auto;
    text-align: left;
    display: inline-block;
  }
  #page-account main .woocommerce .woocommerce-MyAccount-content .woocommerce-order-details {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  #page-account main .woocommerce .woocommerce-MyAccount-content .woocommerce-customer-details {
    padding-top: 20px;
  }
  #page-account main .woocommerce .woocommerce-MyAccount-content .woocommerce-customer-details .woocommerce-columns {
    margin-right: -15px;
    margin-left: -15px;
  }
  #page-account main .woocommerce .woocommerce-MyAccount-content .woocommerce-customer-details .woocommerce-columns .woocommerce-column {
    padding-right: 15px;
    padding-left: 15px;
  }
  #page-account main .woocommerce .woocommerce-MyAccount-content .woocommerce-customer-details .woocommerce-columns .woocommerce-column .woocommerce-column__title {
    margin-top: 10px;
  }
  #page-account td.woocommerce-orders-table__cell a {
    margin-bottom: 15px;
    display: block;
  }
  #page-blog .page-banner {
    height: 450px;
    position: relative;
  }
  #page-blog .page-banner .section-title {
    padding-top: 160px;
    position: relative;
    z-index: 2;
    margin-bottom: 25px;
    font-size: 3.4rem;
  }
  #page-blog .blog-post .card-footer {
    margin-top: 20px;
  }
  #page-blog .blog-post {
    margin: 45px 0;
  }
  #page-blog .blog-post .card-img img {
    height: 250px;
  }
  #single-post .content {
    padding: 150px 0 100px;
  }
  #single-post .content .entry-featured img {
    height: 500px;
  }
  #single-post .content .entry-featured .post-title .entry-title {
    font-size: 2.25rem;
    padding-top: 35px;
    padding-left: 40px;
  }
  #single-post .content .entry-featured .post-title hr {
    margin-left: 46px;
  }
  #single-post .content .entry-featured .post-category p {
    padding: 10px 50px 10px 40px;
  }
  #single-post .content .entry-meta {
    padding: 30px;
    margin-right: 20px;
  }
  #single-post .content .entry-meta img {
    margin-top: 0;
  }
  #single-post .content .entry-meta .post-details .author-name {
    margin-right: 10px;
  }
  #single-post .content .entry-content {
    margin-top: -50px;
    margin-left: -40px;
    padding: 35px;
  }
  #single-post .content .woocommerce .quantity .qty {
    padding: 14px 0;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid gray;
    margin-right: 15px;
    width: 50px;
  }
  #page-burgi .page-banner {
    height: 900px;
    background-image: url("../images/edesburgonya-bg-desktop.jpeg");
  }
  #page-burgi .page-banner .logo-burgi {
    padding-top: 180px;
  }
  #page-burgi .page-banner .screens-burgi {
    position: absolute;
    bottom: -20%;
    width: 50%;
    z-index: 1;
    left: 22%;
    max-width: none;
    margin-top: 0;
  }
  #page-burgi .page-banner .section-title {
    font-size: 3.4rem;
  }
  #page-burgi #burgi-before {
    padding: 7vw 0 6vw;
  }
  #page-burgi #burgi-cons {
    padding: 7vw 0 7vw;
  }
  #page-burgi #burgi-after {
    padding: 7vw 0 7vw;
  }
  #page-profit .page-banner {
    height: 450px;
  }
  #page-profit .page-banner .section-title {
    padding-top: 180px;
    font-size: 3.4rem;
  }
  #page-profit .page-banner .section-title span {
    z-index: 2;
  }
  #page-404 {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 100px;
    position: relative;
  }
  #page-404 .page-banner {
    height: 250px;
    position: relative;
  }
  #page-404 .content {
    padding-top: 55px;
  }
  #page-404 .content h1 {
    font-size: 9rem;
    margin: 0;
  }
  .page-id-101 .page-banner {
    height: 450px;
  }
  .page-id-101 .page-banner .section-title {
    padding-top: 160px;
    font-size: 3.4rem;
  }
  .page-id-101 .content {
    padding-top: 0;
  }
  .page-id-101 .content .woocommerce-result-count {
    width: 100%;
    text-align: right;
  }
  .page-id-101 .content .woocommerce-ordering {
    float: right;
  }
  .page .content {
    margin: 150px auto;
  }
  .woocommerce ul.products {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .woocommerce ul.products li.product {
    width: 22.05% !important;
    margin: 30px 15px !important;
    max-width: 300px;
  }
  .woocommerce ul.products li.product .woocommerce-loop-product__title {
    height: 55px;
    line-height: 1.4;
    font-size: 1.2rem !important;
  }
  .woocommerce ul.products li.product.post-209 .woocommerce-loop-product__title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #web-projektmap .container-wide {
    max-width: 90%;
  }
  #web-projektmap .container-wide .gradient-white {
    width: 6%;
  }
  #web-projektmap .web-pmap {
    text-align: center;
    border: 2px solid #2b194c;
    border-bottom: none;
  }
  #web-projektmap .web-pmap thead {
    border: 2px solid #2b194c;
  }
  #web-projektmap .web-pmap thead h2 {
    color: #2b194c;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 3rem;
  }
  #web-projektmap .web-pmap tbody .time-requirement td {
    border: 2px solid #2b194c;
    color: #3f3f3f;
    font-weight: 800;
    padding: 10px 25px;
  }
  #web-projektmap .web-pmap tbody .time-requirement td .align-left {
    float: left;
  }
  #web-projektmap .web-pmap tbody .time-requirement td .align-right {
    float: right;
  }
  #web-projektmap .web-pmap tbody .sub-title {
    background: #2b194c;
  }
  #web-projektmap .web-pmap tbody .sub-title h3 {
    border: 2px solid #2b194c;
    color: #ffffff;
    font-weight: 800;
    padding: 10px 100px;
    margin-bottom: 0;
    font-size: 1.2rem;
    text-transform: none;
  }
  #web-projektmap .web-pmap tbody .lists td {
    border-right: 2px solid #2b194c;
    padding: 30px 20px;
    vertical-align: top;
    position: relative;
  }
  #web-projektmap .web-pmap tbody .lists td.paddingless {
    padding: 20px 0 30px 0;
  }
  #web-projektmap .web-pmap tbody .lists td.paddingless h4 {
    padding: 0 20px;
  }
  #web-projektmap .web-pmap tbody .lists td.paddingless hr {
    height: 2px;
    background: #2b194c;
    width: 100%;
    border: none;
  }
  #web-projektmap .web-pmap tbody .lists td.paddingless ul li {
    margin: 15px 25px;
    font-weight: 500;
  }
  #web-projektmap .web-pmap tbody .lists ul {
    margin: 0;
  }
  #web-projektmap .web-pmap tbody .lists ul li {
    list-style-type: none;
    margin: 15px 0;
    margin-left: 0.5rem;
    font-weight: 500;
  }
  #web-projektmap .web-pmap tbody .costs td {
    padding: 10px 20px;
    border-top: 2px solid #f78b26;
    border-bottom: 2px solid #f78b26;
    border-right: 2px solid #2b194c;
    color: #3f3f3f;
    font-weight: 800;
    padding: 10px 25px;
  }
  #web-projektmap .web-pmap tbody .costs td .align-left {
    float: left;
  }
  #web-projektmap .web-pmap tbody .costs td .align-right {
    float: right;
  }
  .website-design-landing .section-title {
    font-size: 2.7rem !important;
  }
  #hero.front-page.website-design-landing {
    background-image: none !important;
  }
  #hero.front-page.website-design-landing .yellow-lane {
    height: 9rem;
    top: 16.5rem;
  }
  #hero.front-page.website-design-landing .yellow-lane.thin {
    height: 6rem;
    top: 20.5rem;
  }
  #hero.front-page.website-design-landing .row .text .work-with-us {
    margin-top: 5rem;
  }
  #hero.front-page.website-design-landing .row .form .form-box .limit {
    margin-top: 5px;
  }
  #hero.front-page.website-design-landing .row .form .consultation h3 {
    text-align: left;
  }
  #speed {
    padding-bottom: 7vw;
  }
  #enthusiastic.front-page.website-design-landing .quote-mark {
    top: -7%;
    left: -10%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  #hero.front-page {
    background-size: cover;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .page-template-weboldal-arkalkulator .page-banner,
  .page-template-profit-kalkulator .page-banner {
    height: 350px !important;
  }
  .page-template-weboldal-arkalkulator .page-banner .section-title,
  .page-template-profit-kalkulator .page-banner .section-title {
    padding-top: 110px !important;
  }
  .page-template-weboldal-arkalkulator .content,
  .page-template-profit-kalkulator .content {
    margin: 80px auto;
  }
}

@media (min-width: 1600px) {
  #hero.front-page.website-design-landing {
    background-image: url("../images/web-dev-hero-tablet.jpeg");
  }
  #hero.front-page.website-design-landing .yellow-lane {
    height: 9rem;
    top: 15.7rem;
  }
}

/*# sourceMappingURL=themeplate-desktop.css.map */
