/*!
 *  ThemePlate 0.1.0
 *  Copyright (C) 2021 gkriston84
 *  Licensed under GPL-2.0-only.
 */

@media (min-width: 768px) {
  body.webP #hero {
    background-image: url("../images/hero-speed-bg-tablet.webp");
  }
  #hero {
    padding-bottom: 10%;
    background-image: url("../images/hero-speed-bg-tablet.jpeg");
  }
  #hero .row .text h1 {
    font-size: 7.5rem;
  }
  #hero .row .text h1 span {
    font-size: 4rem;
  }
  #hero .row .text h2 {
    padding: 10px 0;
    margin: 25px 0px 15px 0;
  }
  #hero .row .text h2 .gradient-text-bg {
    left: -75%;
    width: 180%;
    height: 100%;
    top: 2%;
    background-image: url("../images/longer-orange-gradient-effect-hero-tablet.png");
  }
  #hero .row .text p {
    font-size: 1.3rem;
    line-height: 1.4;
  }
  #hero .row .image {
    text-align: center;
  }
  #hero .row .image .book {
    width: 60%;
    margin-top: 0;
    margin-bottom: -3%;
  }
  #hero .row .image .founder {
    width: 65%;
    margin: auto;
  }
  #hero .row .image .founder .align-center {
    text-align: right;
  }
  body.webP #hero.front-page {
    background-image: url("../images/hero-happy-bg-mobile-tablet.webp");
  }
  #hero.front-page {
    background-position: 50% 75%;
    background-image: url("../images/hero-happy-bg-mobile-tablet.jpeg");
  }
  body.webP #hero.landing-page_webmap {
    background-image: url("../images/web-projectmap-bg-tablet.webp");
  }
  #hero.landing-page_webmap {
    background-image: url("../images/web-projectmap-bg-tablet.jpeg");
    background-position: 50% 0%;
    padding-bottom: 17vw;
  }
  #hero.landing-page_webmap .image .web-projectmap {
    border-radius: 3px;
    width: 100%;
    max-width: 500px;
    transform: rotate(0deg);
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.1);
  }
  #hero.landing-page_webmap .row .text h1 {
    font-size: 4.8rem;
  }
  #hero.landing-page_webmap .row .text h1 span {
    font-size: 3.3rem;
  }
  .section-separator.landing-page_webmap .gradient-effect-left {
    top: -40%;
    width: 40%;
  }
  .section-separator.landing-page_webmap .skew-separator {
    height: 8vw;
    margin-bottom: -4%;
  }
  .section-separator.landing-page_webmap .skew-separator h2 {
    font-size: 1.4rem;
    position: absolute;
    right: 50px;
    bottom: -10px;
  }
  .section-separator.landing-page_webmap .skew-separator h2 strong {
    color: #f79024;
    font-weight: 800;
    text-transform: uppercase;
  }
  .section-separator.landing-page_webmap .skew-separator h2 strong span {
    color: #ef2453;
  }
  #contact.newsletter.landing-page_webmap {
    padding: 15vw 0vw 7vw;
  }
  #successfull .guarantee .align-center .checkmark-star-circle {
    width: 45%;
  }
  #experience .certifications .certificate {
    width: 70%;
  }
  #work-together .guarantee .align-center .checkmark-star-circle {
    width: 45%;
  }
  #work-together .book {
    width: 50%;
  }
  #many-question .set-of-answers .answers .question {
    width: 90%;
  }
  #choose-your-path .offer-box {
    margin: 40px 0 80px;
  }
  #choose-your-path .offer-box:nth-child(2) {
    margin-top: 60px;
    height: 100%;
  }
  #methodology iframe {
    height: 360px;
  }
  #pre-market .partner-logo {
    width: 40%;
  }
  .page-banner {
    height: 250px;
  }
  #page-cart .page-banner,
  #page-account .page-banner,
  #page-checkout .page-banner {
    height: 350px;
  }
  #page-cart .page-banner .section-title,
  #page-account .page-banner .section-title,
  #page-checkout .page-banner .section-title {
    padding-top: 140px;
  }
  #page-cart main,
  #page-account main,
  #page-checkout main {
    padding-top: 100px;
  }
  #web-projektmap {
    margin-top: 80px;
  }
  #web-projektmap .web-pmap thead {
    background: transparent;
  }
  #web-projektmap .web-pmap thead h2 {
    display: block;
  }
  #web-projektmap .web-pmap thead p {
    padding-top: 0;
    max-width: none;
    position: static;
  }
  #web-projektmap .web-pmap thead p:after {
    display: none;
  }
  #hero.front-page.website-design-landing .yellow-lane {
    height: 8rem;
    top: 15rem;
  }
}

@media (min-width: 992px) {
  .navbar.without-nav .navbar-brand {
    max-width: unset;
  }
  .navbar.without-nav .navbar-brand .logo {
    width: 45%;
  }
  .navbar.without-nav .container .call-back .icon-bg {
    right: 0.25rem;
    bottom: 0.25rem;
  }
  .navbar.without-nav .container .call-back .tel-icon {
    right: 0.8rem;
    top: unset;
  }
  #projektterkep .nav-pills li {
    margin: 0 0.1rem 0.1rem;
    width: auto;
    border-bottom: 0;
  }
  #projektterkep .nav-pills li.active {
    margin: 0 0.1rem 0 0;
    padding: 0.75rem 0;
  }
  #projektterkep .nav-pills li.active a:hover {
    color: #f68f24;
  }
  #projektterkep .nav-pills li:last-of-type.active {
    margin: 0 0 0 0.1rem;
  }
  #projektterkep .tab-content .tab-pane .tab-header .tab-header-content {
    max-width: 75%;
  }
  #projektterkep .tab-content .tab-pane .tab-header .tab-header-content table {
    width: 55%;
  }
  #projektterkep .tab-content .tab-pane .tab-header .tab-header-content table .cost-intensity .description {
    width: 450px;
  }
  #projektterkep .tab-content .tab-pane .tab-header .tab-header-content .number {
    font-size: 12rem;
  }
  #projektterkep .tab-content .tab-pane .tab-header .tab-header-content .tab-name {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  #projektterkep .tab-content .tab-pane .tab-header .decoration {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  #projektterkep .tab-content .tab-pane .tab-main {
    padding: 2rem;
  }
  #projektterkep .tab-content .tab-pane .tab-main .tab-main-content {
    max-width: 75%;
  }
  #projektterkep .tab-content .tab-pane .tab-main .tab-main-content .accordion .decoration {
    max-width: 34px;
  }
  #projektterkep .tab-content .tab-pane .tab-main .tab-main-content .panel {
    margin-left: 3rem;
  }
  #my-content #book-bonuses-content {
    padding: 8rem 0;
  }
  #my-content #book-bonuses-content .card {
    padding: 1.5rem;
    min-height: 550px;
  }
  #my-content #book-bonuses-content .card .card-decoration {
    min-height: 125px;
    object-fit: cover;
    object-position: 75%;
  }
  #my-content #book-bonuses-content .card .card-title {
    font-size: 1.2rem;
    height: 4rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  #my-content #book-bonuses-content .card img.size-full {
    max-width: 120px;
    height: auto;
    margin-top: 1rem;
  }
  #my-content #book-bonuses-content .card .subtitle {
    font-size: 1rem;
    line-height: 1.2;
  }
  #my-content #book-bonuses-content .card .explanation {
    font-size: 1rem;
  }
  #my-content #book-bonuses-content .card .new-projektterkep-icon {
    padding: 1.5rem;
  }
  #my-content-subpage {
    margin-top: 150px;
    margin-bottom: 100px;
  }
  #my-content-subpage .row {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  #my-content-subpage .row #sidebar {
    margin: 0;
  }
  #my-content-subpage .row #sidebar .title-box.accordion {
    cursor: unset;
  }
  #my-content-subpage .row #sidebar .title-box.accordion .decoration {
    display: none;
  }
  #my-content-subpage .row #sidebar .title-box.accordion.active .minus {
    display: none;
  }
  #my-content-subpage .row #sidebar .title-box.accordion.active .plus {
    display: none;
  }
  #my-content-subpage .row #sidebar .panel {
    display: block;
  }
  .page-template-profit-kalkulator #my-content-subpage {
    margin-bottom: 0;
  }
  .page-template-foreign-language-page #reference {
    overflow: hidden;
  }
  .page-template-foreign-language-page #reference .ref-box .unique_popz {
    -ms-flex-direction: row;
        flex-direction: row;
    padding-top: 100px;
  }
  .page-template-foreign-language-page #reference .ref-box .unique_popz .image {
    text-align: left;
  }
  .page-template-foreign-language-page #reference .ref-box .unique_popz .image img {
    padding-bottom: 6rem;
  }
  .page-template-foreign-language-page #reference .ref-box .unique_popz .logo-and-text img {
    width: 30%;
  }
  .page-template-foreign-language-page #reference .ref-box .unique-skewbox_popz {
    height: 11vw;
  }
  .page-template-foreign-language-page #reference .ref-box .unique-skewbox_popz .unique-popz-gradient-effect-right {
    width: 25%;
    bottom: 74%;
  }
  .page-template-foreign-language-page #reference .ref-box .unique_cosmos .image img {
    padding-bottom: 6rem;
  }
  .page-template-foreign-language-page #reference .ref-box .unique_cosmos .logo-and-text img {
    width: 40%;
  }
  .page-template-foreign-language-page #reference .ref-box .unique-skewbox_cosmos {
    height: 11vw;
  }
  .page-template-foreign-language-page #reference .ref-box .unique-skewbox_cosmos .unique-cosmos-gradient-effect-left {
    width: 25%;
    bottom: 74%;
  }
  #hero.front-page.website-design-landing {
    background-image: none !important;
    padding-bottom: 12vw;
  }
  #hero.front-page.website-design-landing .yellow-lane {
    height: 9.5rem;
    top: 21rem;
  }
  #hero.front-page.website-design-landing .gradient {
    height: 300px;
  }
  #hero.front-page.website-design-landing .row .text h1 span {
    font-size: 3.5rem;
  }
  #hero.front-page.website-design-landing .row .text .text-box h2 {
    margin: auto;
  }
  #hero.front-page.website-design-landing .row .text p {
    margin: auto;
  }
  #hero.front-page.website-design-landing .row .text .work-with-us {
    margin-top: 6rem;
  }
  #hero.front-page.website-design-landing .row .text .work-with-us .row .case-box {
    margin-bottom: 0;
  }
  #hero.front-page.website-design-landing .row .text .work-with-us .row .btn-gradient_purple {
    font-size: 12px;
  }
  #hero.front-page.website-design-landing .row .img-box {
    text-align: right;
  }
  #hero.front-page.website-design-landing .row .img-box img {
    max-width: 400px;
  }
  #hero.front-page.website-design-landing .row .form .form-box {
    margin-top: 60px;
    margin-left: 3rem;
    padding: 1rem 3rem 2rem;
  }
  #hero.front-page.website-design-landing .row .form .form-box .wpcf7 input[type=submit], #hero.front-page.website-design-landing .row .form .form-box .wpcf7 textarea[type=submit] {
    font-size: 1rem;
  }
  #hero.front-page.website-design-landing .row .form .consultation {
    margin-left: 6rem;
  }
  #hero.front-page.website-design-landing .row .form .consultation .testimonial-person .image .name,
  #hero.front-page.website-design-landing .row .form .consultation .testimonial-person .text .name {
    margin: 0;
  }
  #speed.website-design-landing {
    padding-bottom: 7vw;
  }
  #through {
    padding-bottom: 7vw;
  }
  #through .action-box.left {
    padding-right: 3rem;
  }
  #through .action-box.center {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #through .action-box.right {
    padding-left: 3rem;
  }
  #through .action-box h3 {
    font-size: 1.8rem;
  }
  #through .action-box h3 span {
    font-size: 3rem;
  }
  #enthusiastic.website-design-landing {
    padding: 5vw 0 0vw !important;
  }
  #reference.website-design-landing {
    padding-top: 10vw;
    padding-bottom: 5vw;
  }
  #reference.website-design-landing .unique_makad {
    padding-top: 100px;
  }
  #reference.website-design-landing .unique_palma img,
  #reference.website-design-landing .unique_fixbeton img {
    position: relative;
    bottom: 3rem;
  }
  #reference.website-design-landing .ref-box .unique {
    padding: 100px 0 0;
  }
  #choose-your-path.website-design-landing {
    padding: 10vw 0;
  }
  #choose-your-path.website-design-landing .offer-box {
    height: auto;
    margin-top: 60px;
    padding: 40px;
  }
  #projektmap.website-design-landing {
    padding-bottom: 10vw;
  }
  #contact.website-design-landing {
    padding-top: 8vw !important;
  }
  #why-us.website-design-landing {
    padding: 15vw 0 12vw;
  }
  #result.website-design-landing {
    padding: 7vw 0;
  }
  #result.website-design-landing .inner-container .result-box {
    margin-bottom: 0;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  #result.website-design-landing .inner-container .result-box .img-box {
    min-width: 70px;
    text-align: center;
    width: auto;
  }
  #result.website-design-landing .inner-container .result-box .img-box img {
    max-height: 70px;
  }
  #result.website-design-landing .inner-container .result-box .text {
    text-align: left;
    margin-left: 2rem;
  }
  #result.website-design-landing .inner-container .result-box .text b {
    font-size: 1.2rem;
  }
  #gift.website-design-landing {
    padding: 7vw 0;
  }
  #partners.website-design-landing {
    padding: 5vw 4rem 7vw;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  #partners.website-design-landing img {
    max-width: 200px;
    max-height: 150px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body.webP #hero {
    background-image: url("../images/hero-speed-bg-desktop.webp");
  }
  body.webP #hero.front-page {
    background-image: url("../images/hero-happy-bg-tablet.webp");
  }
  #hero.front-page {
    background-position: 50% 75%;
    background-image: url("../images/hero-happy-bg-tablet.jpeg");
  }
  #hero.front-page .hero-gradient {
    background: linear-gradient(90deg, rgba(77, 39, 128, 0.5) 45%, #4d2780 68%);
  }
  .navbar #navbarResponsive .cart-item-count {
    right: -20px;
    left: unset;
    bottom: 33px;
  }
  .navbar #navbarResponsive .menu-item {
    padding: 10px 5px;
  }
  .navbar #navbarResponsive #menu-item-112 a {
    margin-right: 40px;
  }
  .navbar .navbar-brand {
    width: 20%;
  }
  .navbar .cart-icon {
    right: 12px;
    bottom: 23px;
    left: unset;
  }
  #hero {
    padding-bottom: 10%;
    background-image: url("../images/hero-speed-bg-desktop.jpeg");
  }
  #hero .row .text {
    text-align: left;
  }
  #hero .row .text h1 {
    font-size: 4.5rem;
  }
  #hero .row .text h1 span {
    font-size: 4rem;
  }
  #hero .row .text h2 {
    padding: 10px 0;
    margin: 25px 0px 15px 0;
  }
  #hero .row .text h2 .gradient-text-bg {
    left: -79%;
    width: 180%;
    height: 100%;
    top: 2%;
    background-image: url("../images/longer-orange-gradient-effect-hero-desktop.png");
  }
  #hero .row .text p {
    font-size: 1.3rem;
    line-height: 1.4;
  }
  #hero .row .image {
    text-align: center;
  }
  #hero .row .image .book {
    width: 100%;
    margin-top: 0;
    margin-bottom: -7%;
  }
  #hero .row .image .founder .align-center {
    text-align: right;
  }
  #hero .hero-pattern-right {
    height: 90%;
    opacity: 0.5;
  }
  #hero.front-page.website-design-landing .hero-pattern-right {
    opacity: 0.1;
  }
  #hero.front-page .text h1 {
    font-size: 4rem;
  }
  #hero.front-page .image .calculator {
    margin-top: 50px;
  }
  #successfull .guarantee {
    padding-left: 15px;
    padding-right: 15px;
  }
  #successfull .guarantee .align-center .checkmark-star-circle {
    width: 100%;
  }
  #successfull .guarantee div.col-lg-12.col-12 {
    margin-top: -25%;
  }
  #successfull.front-page .secret-of-success-icon {
    width: 60%;
  }
  #secret-of-success .secret-of-success-icon {
    margin: 5px 0 25px;
    width: 50%;
  }
  #enthusiastic.front-page .quote-mark {
    right: 0;
  }
  #experience .certifications .certificate {
    width: 100%;
  }
  #work-together .guarantee .align-center .checkmark-star-circle {
    width: 100%;
  }
  #work-together .book {
    width: 100%;
  }
  #reference .ref-box {
    padding-bottom: 120px;
  }
  #reference .ref-box .unique-skewbox_orange,
  #reference .ref-box .unique-skewbox_purple,
  #reference .ref-box .unique-skewbox_qth {
    height: 12vw;
  }
  #reference .ref-box .pattern-right,
  #reference .ref-box .pattern-left {
    width: 12%;
  }
  #reference .ref-box .unique.unique_makad,
  #reference .ref-box .unique.unique_fixbeton,
  #reference .ref-box .unique.unique_qth {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  footer {
    padding-top: 10%;
  }
}

@media (min-width: 1024px) {
  #hero.front-page.website-design-landing {
    background-image: url("../images/web-dev-hero-tablet.jpeg");
  }
  #hero.front-page.website-design-landing .yellow-lane {
    height: 9rem;
    top: 20.5rem;
  }
}

/*# sourceMappingURL=themeplate-tablet.css.map */
