#web-roi form,canvas{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.25)
}
body{
	background-color:#fff!important
}
h1{
	text-align:center
}
#app h2{
	font-size:26px!important
}
html{
	font-family:Arial,sans-serif;
	color:#707273
}
canvas{
	cursor:pointer;
	border-radius:3px;
	margin-bottom:33px;
	background-color:#fff
}
@media (max-width:768px){
	canvas{
		display:none!important
	}
}
#web-roi .container{
	max-width:1200px;
	margin:0 auto;
	padding:25px 50px
}
@media (min-width:1200px){
	#web-roi .row{
		display:flex;
		align-items:center;
		max-width:1200px;
		width:1200px
	}
	#web-roi .col-lg-4{
		width:33%
	}
	#web-roi .col-lg-8{
		padding:50px;
		box-sizing:border-box;
		width:66%
	}
}
#web-roi{
	padding: 50px 0;
}
#web-roi form{
	background-color:#ecf0f1;
	border-radius:3px;
	padding:35px 30px;
	margin-bottom: 50px;
}
#web-roi .form-group{
	margin-bottom:-5px;
	display:flex;
	align-items:center
}
#web-roi .form-group label,#web-roi .form-group label+input{
	display:inline-block;
	width:49%
}
#web-roi .form-group label{
	padding-right:10px;
	width:72%;
	line-height:1;
	font-family: "Montserrat";
	font-size: 16px;
	color: #3f3f3f;
	margin: 0;
	text-align: left;
	position: relative;
	top: -8px;
}
#web-roi .form-group input{
	border: 3px solid #d8d8d8bf !important;
	box-sizing:border-box;
	border-radius: 5px;
	padding: 5px 10px;
	font-family: "Montserrat";
	font-size: 16px;
	line-height: 32px;
	color: #3f3f3f;
	width: 100%;
	margin-bottom: 15px;
}
#web-roi .form-group:last-of-type{
	margin-top:15px;
	justify-content:flex-end
}
#web-roi input[type=submit]{
	border: none!important;
	text-transform:uppercase;
	letter-spacing:1px;
	padding:9px 8px;
	background-color:#e88245;
	box-shadow:0 4px 20px 0 rgba(0,0,0,.25);
	color:#fff;
	display:inline-block;
	font:15px/30px Montserrat,sans-serif;
	font-weight:700;
	border-radius:3px;
	-webkit-appearance:none;
	cursor:pointer;
	transition:all .3s ease-in-out;
	width:41%
}
@media (max-width:576px){
	#web-roi .container{
		padding:25px 0;
		max-width: 90%;
	}
	#web-roi input[type=submit]{
		width:100%
	}
}
#web-roi input[type=submit]:hover{
	background-color:#e88245;
	transform: scale(0.95);
}
#app{
	font-size:16px;
	line-height:1
}
#app span{
	font-size:22px;
	font-weight:700
}
#web-roi h1 a {
	color: white;
	background: #929292;
	line-height: 22px;
	padding: 1px 8px;
	position: relative;
	top: -18px;
	border-radius: 28px;
	font-size: 16px;
	display: inline-block;
}
