/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  padding: 0.5rem 1rem;
  transition: $global-transition;
  border-radius: $global-radius;
}

/* Style variants
   ========================================================================== */

.c-btn--primary {
  background-color: $color-link;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
    color: $color-white;
  }

  &:hover,
  &:focus {
    background-color: $color-hover;
  }
}

/* Size variants
   ========================================================================== */

.c-btn--small {
  padding: 0.25rem 0.5rem;
}

.c-btn--large {
  padding: 0.75rem 1.5rem;
}

.btn-gradient {
    color: #fff;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(247,144,36,1) 0%, rgba(239,36,83,1) 100%);
    padding: 17px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 1.5px;
    &:hover {
      color: #fff;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      margin-left: 5px;
    }
}

.btn-gradient_purple {
    color: #fff;
    font-weight: 600;
    background: rgb(79,39,122);
    background: linear-gradient(90deg, rgba(79,39,122,1) 0%, rgba(39,39,39,1) 100%);
    padding: 17px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 1.5px;
    &:hover {
      color: #fff;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      margin-left: 5px;
    }
} 

.call-to-action {
  margin-top: 50px;
  font-size: 1.15rem;
}
